<!DOCTYPE html>
<html lang="en" ng-app="singupApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="src/css/normalize.css">
    <link rel="stylesheet" href="src/css/stylefrondAvtorize.css">
</head>
<body>
    <!--header-->
    <header class="header" >
        <img src="src/img/log.png" alt="logo" class="header_logo">
        <form class="header_enter" name="headerEnter" novalidate>
            <label class="email">E-mail:</label>
            <input type="email" class="email_input" require $invalid>
            <label class="password">Пароль:</label>
            <input type="password" class="password_input" require $invalid>
            <a href="index.html"><button type="button" class="enter_button">Увійти</button></a>
        </form>
    </header>
    <!--main-->
    <main class="main" >
        <article class="main_enter">
            <p class="enter_header">Заходь!:)</p>
            <form class="main_login" name="mainLogin" novalidate>
                <label class="email">E-mail:</label>
                <input type="email" class="email_input" require $invalid>
                <label class="password">Пароль:</label>
                <input type="password" class="password_input" require $invalid>
                <a href="index.html"><button type="button" class="mainenter_button">Увійти</button></a>
            </form>
        </article>
        <article class="registration" ng-controller="singUpController as singUp">
            <p class="registration_header">Хочеш приєднатись до друзів?</p>
            <p class="registration_secondheader">Реєструйся!</p>
            <form action="#" name="registration" novalidate>
                <div class="partOfForm">
                    <label for="surname">Прізвище</label>
                    <input class="inputsPartOfForm" ng-model="registration.Surname" type="text" id="surname" require $invalid>
                    <label for="name">Ім’я</label>
                    <input class="inputsPartOfForm" ng-model="registration.Name" type="text" id="name" require $invalid>
                    <label for="email">E-mail</label>
                    <input class="inputsPartOfForm" ng-model="registration.Email" type="email" id="email" require $invalid>
                    <label for="password">Пароль</label>
                    <input class="inputsPartOfForm" ng-model="registration.Password" type="password" id="password" require $invalid>
                    <button type="button" ng-click="singUp()" ng-disabled="isProcessing" class="form_button">Приєднуйся!</button>
                </div>
            </form>
        </article>
    </main>
    <footer class="footer">
        <p class="footer_text">Friends © 2017</p>
    </footer>

   
        
        
</body>
</html>