<!DOCTYPE html>
<html lang="en" ng-app="singupApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="src/css/normalize.css">
    <link rel="stylesheet" href="src/css/stylefrondAvtorize.css">
</head>
<body >
    <!--header-->
    <header class="header" >
        <a href="avtorizefrond2.html" class="navbar-brand"><img src="src/img/log.png" alt="logo" class="header_logo"></a>
        <form class="header_enter" name="headerEnter" novalidate>
            <label class="email">E-mail:</label>
            <input type="email" class="email_input" require $invalid>
            <label class="password">Пароль:</label>
            <input type="password" class="password_input" require $invalid>
            <a href="index.html"><button type="button" class="enter_button">Увійти</button></a>
        </form>
    </header>
    <!--main-->
    <main class="main" >
        <article class="main_enter">
            <p class="enter_header">Заходь!:)</p>
            <form class="main_login" name="mainLogin" novalidate>
                <label class="email">E-mail:</label>
                <input type="email" class="email_input" require $invalid>
                <label class="password">Пароль:</label>
                <input type="password" class="password_input" require $invalid>
                <a href="index.html"><button type="button" class="mainenter_button">Увійти</button></a>
            </form>
        </article>
        <article class="registration" >
            <p class="registration_header">Хочеш приєднатись до друзів?</p>
            <p class="registration_secondheader">реєструйся!</p>
            <form name="registration" ng-submit="register()">
                <div class="partOfForm" ng-controller="singUpController">
                    <label for="firstname">Прізвище</label>
                    <input class="inputsPartOfForm" 
                    	   name="firstname" 
                    	   type="text"
                    	   id="firstname"
                    	   ng-model="user.firstname" 
                    	   ng-required="true">
                    <p class="error" ng-show="registration.firstname.$invalid && registration.firstname.$touched">Поле не може бути пустим!</p>
                    <label for="name">Ім’я</label>
                    <input class="inputsPartOfForm" 
                    	   name="secondname"
                    	   type="text"
                    	   id="name"
                    	   ng-model="user.secondname" 
                    	   ng-required="true">
                    <p class="error" ng-show="registration.secondname.$invalid && registration.secondname.$touched">Поле не може бути пустим!</p>
                    <label for="email">E-mail</label>
                    <input class="inputsPartOfForm" 
                    	   name="email"
                    	   type="email"
                    	   id="name" 
                    	   ng-model="user.email" 
                    	   ng-required="true">
                    <p class="error" ng-show="registration.email.$invalid && registration.email.$touched">Введіть правильний емейл</p>
                    <label for="password">Пароль</label>
                    <input class="inputsPartOfForm" 
                    	   name="password"
                    	   type="password" 
                    	   id="password"
                    	   ng-model="user.password" 
                    	   ng-minlength="6" 
                    	   ng-required="true">
                    <p class="error" ng-show="registration.password.$invalid && registration.password.$touched">Пароль має містити мінімум 6 символів</p>
					<button type="submit" class="form_button" ng-disabled="registration.$invalid">Приєднуйся!</button>
                </div>
            </form>
            <p ng-show="msg">{{msg}}</p>
        </article>
    </main>
    <footer class="footer">
        <p class="footer_text">Friends © 2017</p>
    </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js"></script>
       <script src="app/app.js"></script>
        <script src="app/controllers/registration.controller.js"></script>
          
</body>
</html>