<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="src/css/reset_style.css">
  <link rel="stylesheet" href="src/css/style.css">
  <link rel="stylesheet" href="src/css/modal.css">
  <link rel="stylesheet" href="src/css/lessStyle.css">
  <link rel="stylesheet" href="src/css/lightBoxGallery.css">
  <link rel="stylesheet" href="src/css/bootstrap.css">
  <link rel="stylesheet" href="src/css/bootstrap-theme.css">
  <title>MainPage</title>
</head>

<body>
  <div id="wrappper">
    <!-- Modal gallry window-->
    <div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <!--<div class="modal-title">Перегляд зображення</div>-->
          </div>
          <div class="modal-body">
        
            <div class="row no-gutter ">
              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-0">
                 <div class="LightBodyModal">
                   <div class="modalImgWrapper">
                <img class="img-responsive center-block modalImg"   src="" alt=""></div>
                <a id="prev" class="carousel-control left" href="#modaCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a id="next" class="carousel-control right" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                 </div>
              </div>
              <div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
                <div class="RightBodyModal">
                  <article class="modalUser">
                      <figure class="otherUserPhoto modalOtherUserPhoto"></figure>
                      <h4 class="modalUserName">Дженніфер Лоуренс</h4>
                      <h5><span class='glyphicon glyphicon-time'></span>13.05.17 14:38</h5>
                </article>
                <article class="modalLike">
                  <div>
                  <figure class="modalHeart"></figure>
                  <p class="modalLikeText">Мені подобається<span>56</span></p>
                  </div>
                </article>
                <article class="modalPost">
                      <figure class="otherUserPhoto modalOtherUserPhotoPost"></figure>
                      <h5 class="modalPostUser">Доктор Стрендж</h5>
                       <a class="galleryLink"><img class=" modalPhotoPost" data-img="src/img/photoPost.jpg" src="src/img/photoPost.jpg" alt="..."></a>
                      <p class="modalPostDate">16 тра о 17:45</p>
                </article>
                    <article class="modalPost">
                      <figure class="otherUserPhoto modalOtherUserPhotoPost"></figure>
                      <h5 class="modalPostUser">Доктор Стрендж</h5>
                      <!--<figure class="modalPhotoPost"></figure>-->
                      <a class="galleryLink"><img class="modalPhotoPost" data-img="src/img/photoPost.jpg" src="src/img/photoPost2.jpg" alt="..."></a>
                      <p class="modalPostDate">16 тра о 17:45</p>
                </article>
                
                </div>
              </div>
            </div>
          
          </div>
          <div class="modal-footer">/
            <div class="row no-gutter ">
              <div class="  col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="leftFotterModal">
                <figure class="modalHeart modalHeartFooter"><span>56</span></figure>
                <figure class="modalComment"></figure>
                <figure class="modalRecycleBin"></figure>
                </div>
              </div>
              <div class=" RightFotterModal col-lg-5 col-md-5 hidden-sm hidden-xs">
                
                 <figure class="otherUserPhoto modalOtherUserPhotoPost" style="width:30px; height:30px;"></figure>
                  <p class="modalMakeComment">Написати коментар...</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
  <!---->
  <!--Header START-->
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container containerHeader">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                    <span class="sr-only">Open navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a href="#" class="navbar-brand"><img class="logo" src="src/img/logo.png" alt="logo"></a>
      </div>
      <div class="collapse navbar-collapse" id="responsive-menu">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="user dropdown-toggle" data-toggle="dropdown">Доктор<b class="caret"></b>
                <img class="userHeader" src="src/img/avatar.jpg" alt="user"></a>
            <ul class="dropdown-menu">
              <li><a href="#">Моя сторінка</a></li>
              <li class="divider"></li>
              <li><a href="#">Вийти</a></li>
            </ul>
            <div class="MobileUserSideBar">
              <ul class="nav navbar-nav mineNavbar">
                <li><a href="#">Мій профіль</a></li>
                <li><a href="#">Мої друзі</a></li>
                <li><a href="#">Повідомлення  <span class="badge"> 2</span></a></li>
                <li><a href="#">Галерея</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <!--Header END-->
  <div class="container-fluid">
    <div class="container custom-container">
      <div class="row">
        <!--Navigation START-->
        <nav class="col-lg-2 col-md-3 col-sm-3 col-xs-0">
          <div class="classWithPad">
            <div class="sidebar-nav userSideBar">
              <div class="navbar navbar-default userNavbar">
                <div class="navbar-header">
                  <ul class="nav navbar-nav asideNavbar">
                    <li><a href="#">Мій профіль</a></li>
                    <li><a href="#">Мої друзі</a></li>
                    <li><a href="#">Повідомлення  <span class="badge"> 2</span></a></li>
                    <li><a href="#">Галерея</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <!--Navigation END-->
        <!--Main body START-->
        <main class="col-lg-9 col-md-9 col-sm-9 col-xs-12 ">
          <div class="classWithPad userMainBody">
            <!--Background-->
            <section class="Background row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <figure class="backgroundImage">
                  <!--editing background and page-->
                  <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                      <div class="updateBg pull-left">
                        <span class="media-left">
                        <figure class="changeBgImage"></figure>
                        </span>
                        <span class="media-body">
                          <p class="changeBgText">Оновити обкладинку</p>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                      <button class="editProfile btn btn-default pull-right">Редагувати сторінку</button>
                    </div>
                  </div>
                </figure>
              </div>
            </section>
            <!--rest page-->
            <section class="row">
              <!--Left part START-->
              <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0">
                <a class="galleryLink"><img class="profilePhoto img-rounded" data-img="src/img/avatar.jpg" src="src/img/avatar.jpg" alt="profile photo"></a>
                
                <!--<i class="userQuote" > Хороший хірург - ще не означає хороший черівник!</i>-->
                <section class="friendsGalleryBlock">
                  <h3 class="myFriends">Мої друзі <span>480</span></h3>
                  <figure class="friend friend1">
                    <figcaption>Дженніфер Лоуренс</figcaption>
                  </figure>
                  <figure class="friend friend2">
                    <figcaption>Дормамму Непереможний</figcaption>
                  </figure>
                  <figure class="friend friend3">
                    <figcaption>Рейчел МакАдамс</figcaption>
                  </figure>
                  <figure class="friend friend4">
                    <figcaption>Тільда Суїнтон</figcaption>
                  </figure>
                  <h3 class="myGallery">Галерея </h3>
                  <article class="gallery">
                    <div class="row no-gutter">
                      <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0">
                        <a class="galleryLink"><img class="galleryItem" data-img="src/img/gallery/1.jpg" src="src/img/gallery/1.jpg" alt="..."></a>
                      </div>
                      <div class="col-lg-3 col-md-5 col-sm-0 col-xs-0">
                        <a class="galleryLink"><img class=" galleryItem" data-img="src/img/gallery/2.jpg" src="src/img/gallery/2.jpg" alt="..."></a>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0">
                        <a class="galleryLink"><img class="galleryItem" data-img="src/img/gallery/3.jpg" src="src/img/gallery/3.jpg" alt="..."></a>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0">
                        <a class="galleryLink"><img class="galleryItem" data-img="src/img/gallery/4.jpg" src="src/img/gallery/4.jpg" alt="..."></a>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0">
                        <a class="galleryLink"><img class="galleryItem" data-img="src/img/gallery/5.jpg" src="src/img/gallery/5.jpg" alt="..."></a>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0">
                        <a class="galleryLink"><img class="galleryItem" data-img="src/img/gallery/6.jpg" src="src/img/gallery/6.jpg" alt="..."></a>
                      </div>

                    </div>
                    </-->
                    <article>
                </section>
              </div>
              <!--Left part END-->
              <!--Right part START-->
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <!--Main infromation about user-->
                <div class="row">
                  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="infoName">
                      <h2 class="userName">Доктор Стрендж</h2>
                      <p><label>День народження:</label> <span>12 лютого 1982 р.</span> </p>
                      <p><label>Рідне місто:</label> <span>Нью-Йорк</span></p>
                      <p><label>Освіта:</label> <span>Нанотехнологічний інститут</span></p>
                      <p><label>Моб. телефон:</label> <span>0665784212</span></p>
                    </div>
                  </div>
                </div>
                <div style="margin-left:0;" class="row">
                  <div id="myCarousel" class="carousel slide" data-interval="0" data-ride="carousel" style="width: 96%; margin-left: 0px">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                      <li data-target="#myCarousel" data-slide-to="4"></li>
                      <li data-target="#myCarousel" data-slide-to="5"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <figure class="item carouselItem item1 active"></figure>
                      <figure class="item carouselItem item2"></figure>
                      <figure class="item carouselItem item3"> </figure>
                      <figure class="item carouselItem item4"> </figure>
                      <figure class="item carouselItem item5"> </figure>
                      <figure class="item carouselItem item6"> </figure>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <article class="friendsAndPhoto">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                      <p class="myFriends">Друзі<span style="padding-left:10px;">480</span></p>
                      <figure class="friendsAndPhotoIcon friendsIco"></figure>
                    </div>
                    <!--user friends and photo count-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                      <p>Галерея</p>
                      <figure class="friendsAndPhotoIcon galleryIco"></figure>
                    </div>
                  </article>
                </div>
                <!--write letter-->
                <div class="row " style="margin-bottom: 30px !important; ">
                  <form role="form " style=" margin:10px 50px;">
                    <div class="form-group">
                      <textarea placeholder="Що у вас нового?" class="form-control " rows="5 " id="comment "></textarea>
                      <figure class="commentImage pull-left"></figure>
                      <button type="button " class="btn  btn-default post pull-right" ng-click="main.addPost() ">Відправити</button>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="posters" style=" margin:10px 50px; " ng-repeat="x in main.model.postes ">
                    <div>
                      <figure class="otherUserPhoto"></figure>
                      <h4 style="cursor:pointer;">Дженніфер Лоуренс</h4>
                      <h5><span class='glyphicon glyphicon-time'></span>13.05.17 14:38</h5>
                      <a class='label label-danger' ng-click="main.changeElement($index) ">змінити</a>
                      <a class='label label-primary' id='remove' ng-click="main.deleteElement($index) ">видалити</a>
                    </div>
                    <p style="font-size: 14px;">Я думаю тобі сподобається мій новий фільм ;-)
                      <br><br>
                      <a href="https://my-hit.org/film/415353"> https://my-hit.org/film/415353/</a>
                    </p>
                  </div>
                </div>
                <!---->
                <div class="row">
                  <div class="posters" style=" margin:10px 50px; " ng-repeat="x in main.model.postes ">
                    <div>
                      <figure class="otherUserPhoto"></figure>
                      <h4 style="cursor:pointer;">Дженніфер Лоуренс</h4>
                      <h5><span class='glyphicon glyphicon-time'></span>10.05.17 15:11</h5>
                      <a class='label label-danger' ng-click="main.changeElement($index) ">змінити</a>
                      <a class='label label-primary' id='remove' ng-click="main.deleteElement($index) ">видалити</a>
                    </div>
                    <p style="font-size: 14px;">Докторе, скидую обіцяне фото :-)
                      <br><br>
                      <a class="galleryLink"><img class="otherUserPhotoComment" src="src/img/users/user1/photo/photo.jpg" alt="..."></a>
                    </p>
                  </div>
                </div>
              </div>
              <!--Right part END-->
            </section>
          </div>
        </main>
      </div>
      <!--Main body END-->
    </div>
  </div>
  </div>
  <!--<script src="src/libs/Less/less.min.js "></script>-->
  <script src="src/libs/jQuery/jquery-3.2.1.js "></script>
  <script src="src/js/touchswipe.min.js"></script>
  <script src="src/js/swipeMobile.js"></script>
  <script src="src/js//lightBoxGallery.js"></script>
  <script src="src/js/bootstrap.min.js "></script>

  </div>
</body>

</html>