body{
    background: #f2f2f2;
    -webkit-overflow-scrolling: touch;
    } 
.container-fluid{
    background-color: gainsboro;   
}
.custom-container{
    margin-top: 65px;
}
.classWithPad { 
    margin:-5px; 
    background-color: whitesmoke;
    /*padding:1px; */
}
/* Navigation header START*/
.logo{
 margin-top: -13px;
}
.userHeader{
    border-radius: 50%;
    height: auto;
    width: 50px; 
}
.user{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.mineNavbar{
    margin: 7.5px 0px !important;
}
/* Navigation header END*/
/* Navigation main START*/
.userSideBar{
    min-height: 500px;
}
.asideNavbar li:hover {
    background-color: gainsboro;
    width: 100%;   
}
.asideNavbar li {
    background-color: whitesmoke;
    width: 100%;
}
.asideNavbar ul {
    /*background-color: whitesmoke;*/
    width: 100px;
}
.userNavbar {
    box-shadow: none !important;
    border-color: whitesmoke !important;
}
/* Navigation main END*/
/*Main body START*/
.userMainBody{
    min-height: 500px;
}
/*Background*/
.Background{
    height: 175px;
}
.backgroundImage{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 225px;
}
/*Update Background*/
.updateBg{
    margin-top: 20px;
    margin-left: 10px;
    width: 200px;    
    padding-left: 5px;
    padding-top: 5px;
}
.updateBg:hover{
  border: 1px double white;
    background-color: slategrey;
    cursor: pointer;
}
.changeBgImage{
    background-image: url("../img/bgChange.png");
    background-size: cover;
    width: 35px;
    height: 25px;
}
.updateBg:hover .changeBgImage{
    background-image: url("../img/bgChange_hover.png");
}
.changeBgText{
    color: white;
    font-size: 11.5px;
    padding-top:5px;
    display: none;
}
.updateBg:hover .changeBgText{
    display: block;
}
/*Edit mainPage*/

.editProfile{
margin-top: 175px;
margin-right: 20px;
}
.editBtnWidth{
width: 20px;
}
/*user Main Infromation*/
.mascLeft{
    padding-left: 0 !important;
}
.userName{
    width: 300px;
}
  .infoName > p > label {
    width: 200px;
    padding-right: 60px;
    
}
.infoName > p{
  width: 500px;
  text-align: left;
}
.profilePhoto{
    background-size: cover;
    background-image: url("../img/avatar.jpg");
    height:200px;
    width: 200px;
    margin-top: -40px;
}
/*Friends and photo count*/
.friendsPhoto *{
    font-size: 20px;
    font-weight: 400;
}
.friendsPhoto {
    margin-top: 30px;
}
/*Main body END*/

