@font-face{
    font-family: Helvetica, Arial;
    src: url("./fonts/HelveticaBlack/HelveticaBlack.ttf");
}
.infoBlock{
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0 30px;
    padding: 30px 0 0;
    color: #777;
    font-size: 14px;
    font-family: Helvetica, Arial;
}
.infoBlock_label{
    font-size: 14px;
    font-family: Helvetica, Arial;
    display: flex;
    flex-direction: column;
    margin: 0 0 15px 0;
}
.infoBlock_input{
    border: none;
    border-bottom: 1px solid rgb(61, 61, 61);
    width: 95%;
    margin: 10px 0 0;
    outline: none;
}
.changeBtn{
    font-family: Helvetica;
	padding: 0;
    width:180px;
	height: 40px;
    color: white;
    border:1px solid rgb(61, 61, 61);
    background: rgb(169, 109, 163);
}
.changeBtn:hover{
    background: rgb(100, 57, 96);
    transition: 1s;
}