/*-----------SEARCH START----------*/

.searchBlock {
    padding: 10px 20px 10px 30px;
    display: flex;
    justify-content: center;
    border-bottom-width: 1px;
    -webkit-box-shadow: 0px 4px 4px -4px gray;
    -moz-box-shadow: 0px 4px 4px -4px gray;
    box-shadow: 0px 4px 4px -4px gray;

}

.searchIcon {
    background-size: cover;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.searchIcon {
    background-image: url("../img/search.png");
}


/*.addIcon {
    background-image: url("../img/add.png");
}*/

.searchText {
    margin-top: 8px;
    cursor: pointer;
    font-size: 16px;
}


/*-----------SEARCH END----------*/


/*..........USER START............*/

.chatWrapper {
    height: 70px;
}

.userChatBlock {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    /*flex-wrap: wrap;*/
    padding: 30px 30px 10px 30px;
    border-bottom-width: 1px;
    -webkit-box-shadow: 0px 4px 4px -4px gray;
    -moz-box-shadow: 0px 4px 4px -4px gray;
    box-shadow: 0px 4px 4px -4px gray;
}

.userChatBlock:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.userChatPhoto {
    object-fit: cover;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: block;
}

.userNameChat {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    top: -63px;
    left: 60px;
}

.chatDate {
    white-space: nowrap;
}

.userLast {
    position: relative;
    bottom: 50px;
    left: 70px;
    display: flex;
}

.userLastPhoto {
    object-fit: cover;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: block;
}

.userLastComment {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
    width: auto;
    max-width: 370px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/*..........USER END............*/


/*ChatUSER page start!!*/

.userChatPanel {
    display: flex;
    justify-content: space-between;
    padding: 10px 35px;
    border-color: gray !important;
    border-bottom-width: 1px;
    -webkit-box-shadow: 0px 4px 4px -4px gray;
    -moz-box-shadow: 0px 4px 4px -4px gray;
    box-shadow: 0px 4px 4px -4px gray;
    background-color: white !important;
    background-image: none !important;
    border: none !important;
    /*position: fixed;*/
    /*width: inherit;*/
    /*width: 60%;*/
}

.arrowLeft {
    background-image: url("../../src/img/arrowLeft.png");
    background-size: cover;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.userChatName {
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding-top: 5px;
}

.userChatName:hover {
    text-decoration: none;
    color: black;
}


/*ChatUSER page END!!*/


/*HEADER styles start*/

.nabvarHeaderMine {
    text-align: center;
}

.headerName {
    position: relative;
    /*top: 15px;*/
    color: white;
    font-weight: 600;
}

.headerName:hover,
.headerName:focus {
    color: white;
    text-decoration: none;
}

.arrowLeftMobile {
    background-image: url("../../src/img/arrowLeftWhite.png");
    background-size: cover;
    width: 45px;
    height: 45px;
    margin-top: 5px;
    margin-left: 15px;
    cursor: pointer;
}


/*HEADER styles END*/


/*CHAT START (partially Third-party!!)*/

.chatMasc {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;

}

.chat li.leftChat .chat-body {
    margin-left: 10px;
}

.chat li.rightChat .chat-body {
    margin-right: 10px;
}

.leftChat, .rightChat{
    display: flex;
    flex-wrap: nowrap;
}
.rightChat{
    margin-left: 150px;
}
.leftChat{
    margin-right: 150px;
}
.chat li .chat-body p {
    margin: 0;
    color: black;
}

.panel {
    margin-bottom: 0px !important;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;
    height: 74vh;
}

.panel-primary {
    border: none !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #999;
}


/*CHAT END (prtially Third-party!!)*/

.bubbleLeft,
.bubbleRight {
    position: relative;
    max-width: 320px;
    min-width: 200px;
    height: auto;
    padding: 20px;
  display: inline-block;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.bubbleLeft,
.bubbleRight *{
    white-space: normal;
}
.bubbleLeft{
  background: #f2f2f2;
}
.bubbleRight{
    background: #5987E9
}

.bubbleLeft:after,
.bubbleRight::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    z-index: 1;
    top: 5%;
}


.bubbleLeft:after {
    border-width: 9px 18px 9px 0;
    left: -15px;
    border-color: transparent #f2f2f2;
}

.bubbleRight:after {
    border-width: 9px 0 9px 18px;
    right: -15px;
     border-color: transparent #5987d1;
}

.msgTime{
    padding: 5px;
}

/*UserChat footer START*/
.chatInput{
font-size: 16px !important;
margin-left: 10px !important;
}
.chatButton{
font-size: 16px !important;
padding:  3px 10px !important;
/*margin-left: 10px !important;*/
}
.addFileChat {
    background-image: url("../../src/img/clip.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
     display: inline-table;
    position: relative;
}
.panel-footer{
    display: flex;
        margin-bottom: 15px;
}
.chatGalleryIco{
    background-image: url("../../src/img/gallery.png");
    background-size: cover;
    margin-left: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: inline-table;
    position: relative;
}
/*UserChat footer END*/

/*SEND ICO (for modal and chatUser)*/
.sendIcon{
    background-image: url("../../src/img/send.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 3px;
    margin-right: 10px;
     display: inline-table;
}
.nabvarHeaderMine{
    height: 50px;
}



#scrollArea {
  /*height: 280px;*/
  overflow: auto;
}

#bottom {
  /*display: block;*/
  /*margin-top: 2000px;*/
}