/*-----------SEARCH START----------*/
.searchBlock {
    padding: 15px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom-width: 1px ;
     -webkit-box-shadow: 0px 4px 4px -4px gray;
       -moz-box-shadow: 0px 4px 4px -4px gray;
            box-shadow: 0px 4px 4px -4px gray;
}

.searchIcon,
.addIcon {
    background-size: cover;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.searchIcon {
    background-image: url("../img/search.png");
}

.addIcon {
    background-image: url("../img/add.png");
}

.searchIcon>label {
    margin-top: 10px;
    margin-left: 40px;
    cursor: pointer;
}
/*-----------SEARCH END----------*/
/*..........USER START............*/
.chatWrapper{
    height: 70px;
}
.userChatBlock{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 10px 30px;
       border-bottom-width: 1px ;
  -webkit-box-shadow: 0px 4px 4px -4px gray;
       -moz-box-shadow: 0px 4px 4px -4px gray;
            box-shadow: 0px 4px 4px -4px gray;
}
.userChatPhoto{
    background-image: url("../img/users/user1/avatar.jpg");
    background-size: cover;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.userChatPhoto > label{
    margin-left: 80px;
    white-space: nowrap;
    cursor: pointer;
}
.chatDate{
    cursor: default;
}

.userLast{
    position: relative;
    bottom: 30px;
  margin-left: 70px;
/*    margin-top: 40px;*/
   
}
.userLastPhoto{
    background-image: url("../img/avatar.jpg");
    background-size: cover;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.userLastPhoto>p{
    white-space: nowrap;
    margin-left: 35px;
    cursor: default;
  
}
/*..........USER END............*/