body {
    overflow-y: hidden;
}

.headerName {
    display: inline;
}

.arrowLeftMobile {
    display: block;
}
.headerName{
    top: -35px;
}
@media (max-width: 767px) {
    .navbar-brand {
        display: none !important;
    }
}
.userMainBody {
    min-height: auto;
}