/*-----------SEARCH START----------*/
.searchBlock {
    padding: 15px 20px 15px 30px;
    display: flex;
    justify-content: center;
    border-bottom-width: 1px ;
     -webkit-box-shadow: 0px 4px 4px -4px gray;
       -moz-box-shadow: 0px 4px 4px -4px gray;
            box-shadow: 0px 4px 4px -4px gray;
}

.searchIcon {
    background-size: cover;
    height: 35px;
    width: 35px;
    cursor: pointer;
 
}

.searchIcon {
    background-image: url("../img/search.png");
}

/*.addIcon {
    background-image: url("../img/add.png");
}*/

.searchText {
    margin-top: 10px;
    cursor: pointer;
       font-size: 16px;
}
/*-----------SEARCH END----------*/
/*..........USER START............*/
.chatWrapper{
    height: 70px;
}
.userChatBlock{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    /*flex-wrap: wrap;*/
    padding: 30px 30px 10px 30px;
       border-bottom-width: 1px ;
  -webkit-box-shadow: 0px 4px 4px -4px gray;
       -moz-box-shadow: 0px 4px 4px -4px gray;
            box-shadow: 0px 4px 4px -4px gray;

}
.userChatBlock:hover{
    background-color: #f2f2f2;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.userChatPhoto{
    object-fit: cover;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: block;
}

.userNameChat{
    position: relative;
    font-weight: 600;
    font-size: 16px;
    top:-63px;
    left:60px;
}
.chatDate{
    white-space: nowrap;
}

.userLast{
    position: relative;
    bottom: 50px;
    left: 70px;
    display: flex;
 
}
.userLastPhoto{
    object-fit: cover;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: block;
}
.userLastComment{
    font-size:15px;
    margin-top: 5px;
    margin-left: 5px;
    width: 240px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*..........USER END............*/

/*ChatUSER page start!!*/
.userChatPanel{
    display: flex;
    justify-content: space-between;
    padding: 10px 35px;
     border-bottom-width: 1px ;
  -webkit-box-shadow: 0px 4px 4px -4px gray;
       -moz-box-shadow: 0px 4px 4px -4px gray;
            box-shadow: 0px 4px 4px -4px gray;
position: fixed;
width: inherit;
width: 60%;
}
.arrowLeft{
    background-image: url("../../src/img/arrowLeft.png");
    background-size: cover;
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.userChatName{
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding-top: 5px;
}
.userChatName:hover{
        text-decoration: none;
    color: black;
}



/*ChatUSER page END!!*/