.galleryImg{
    height: auto;
    max-width: 100%;
}

/*.deckgrid {
    margin: 0 auto;
  
}*/

.deckgrid[deckgrid]::before {
    content: '3 .column.size-1-3';
    font-size: 0;
    visibility:hidden;
}

.deckgrid .column {
    float:left;
}

.deckgrid .column.size-1-5 {
    width:200px;
}

.deckgrid .column.size-1-4 {
    width:200px;
}

.deckgrid .column.size-1-3 {
    width:235px;
}

.deckgrid .column.size-1-2 {
    width:100px;
}

.deckgrid .column.size-1-1 {
    width:280px;
}
/*desktop*/
@media (max-width: 767px) { 
      .deckgrid[deckgrid]::before {
        content: '3 .column.column-1-3';
    }
}
/*medium*/
@media (min-width: 768px) and (max-width: 992px) {
  .deckgrid[deckgrid]::before {
        content: '3 .column.column-1-3';
    }
}
/*tablet*/
@media (max-width: 767px) {
  .deckgrid[deckgrid]::before {
        content: '2 .column.column-1-2';
    }
}
/*extraSmall*/
@media (max-width: 460px) {
  .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }
}
