@media (max-width: 767px) {
  .userSideBar {
    display: none;
  }
  .infoName {
    margin-top: -135px;
    margin-left: 180px;
  }
  .infoValue {
    padding-left: 30px;
  }
  .profilePhoto {
    margin-top: 20px;
    height: 150px;
    width: 150px;
  }
  .profilePhoto {
    text-align: center;
  }
  .photoCnt {
    margin-left: 20px;
  }
  .editProfile {
    margin-right: 20px;
  }
  .infoName > p > label {
    width: auto;
    padding-right: 0px;
  }
  .friendsGalleryBlock {
    display: none;
  }
  #myCarousel {
    display: block;
  }
  .modalTextArea {
    display: none;
  }
  .modalMasc {
    display: none !important;
  }
  .modalMascToogle {
    display: block !important;
  }
  .RightBodyModal {
    overflow-y: hidden;
  }
  .rightBodyModalToggle {
    height: auto;
  }
  .modalOtherUserPhotoComment {
    bottom: 60px;
    display: none;
  }
  .modal-dialog {
    margin: 0px !important;
  }
  .modal-body {
    height: 100% !important;
  }
  .postTablet {
    position: absolute;
    bottom: -40px;
  }
  .postTabletTrigger {
    display: block !important;
  }
  .TabletTextArea {
    height: 35px;
    width: 60%;
  }
  .TabletComment {
    display: none;
    margin-bottom: 40px !important;
  }
  .TabletCommentTrigger {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .TabletComment {
    display: none ;
  }
  .MobileUserSideBar {
    display: none;
  }
  .infoName {
    margin-left: 20px;
  }
  .modal-lg {
    width: 1000px !important;
    height: 900px;
    /* control height here */
  }
  .img-responsive {
    max-width: 100%;
    max-height: 100%;
  }
  .modalImgWrapper {
    height: 450px;
    width: auto;
  }
}
@media (max-width: 460px) {
  .infoName > p > label {
    width: auto;
    padding-right: 0px;
  }
  .otherUserPhotoComment {
    margin-top: -15px;
    width: 100px;
    height: 100px;
  }
  #myCarousel {
    margin-left: -3px !important;
  }
  .img-responsive {
    max-width: 100%;
    max-height: 100%;
  }
  .modalImgWrapper {
    height: 450px;
    width: auto;
  }
}
@media (max-width: 570px) {
  .infoName {
    margin-top: 20px;
    margin-left: 5%;
  }
  .profilePhoto {
    height: 200px;
    width: 200px;
    margin-left: 20%;
    margin-top: 40px;
  }
}
@media (min-width: 999px) {
  .infoName > p {
    width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .modalTextArea {
    display: none;
  }
  .modalMasc {
    display: none !important;
  }
  .modalMascToogle {
    display: block !important;
  }
  .RightBodyModal {
    overflow-y: hidden;
  }
  .rightBodyModalToggle {
    height: auto;
  }
  .modalOtherUserPhotoComment {
    bottom: 60px;
    display: none;
  }
  .modal-body {
    height: 100% !important;
  }
  .postTablet {
    position: absolute;
    bottom: -40px;
  }
  .postTabletTrigger {
    display: block !important;
  }
  .TabletTextArea {
    height: 35px;
    width: 60%;
  }
  .TabletComment {
    display: none;
  }
  .TabletCommentTrigger {
    display: flex;
    justify-content: space-around;
  }
  .friendsGalleryBlock {
    display: none;
  }
  #myCarousel {
    display: block;
    margin-left: 3px !important;
  }
  .img-responsive {
    max-width: 100%;
    max-height: 100%;
  }
  .modalImgWrapper {
    height: 450px;
    width: auto;
  }
  .modal-lg {
    width: 700px !important;
  }
}


