@media (max-width: 767px) {
  .userChatPanel {
    display: none;
  }
  .rightChat {
    margin-left: 100px;
  }
  .leftChat {
    margin-right: 100px;
  }
  .userSideBar {
    display: none;
  }
  .infoName {
    margin-top: -135px;
    margin-left: 180px;
  }
  .infoValue {
    padding-left: 30px;
  }
  .profilePhoto {
    margin-top: 20px;
    height: 150px;
    width: 150px;
  }
  .profilePhoto {
    text-align: center;
  }
  .photoCnt {
    margin-left: 20px;
  }
  .editProfile {
    margin-right: 20px;
  }
  .infoName > p > label {
    width: auto;
    padding-right: 0px;
  }
  .friendsGalleryBlock {
    display: none;
  }
  #myCarousel {
    display: block;
  }
  .modalTextArea {
    display: none;
  }
  .modalMasc {
    display: none !important;
  }
  .modalMasc.special {
    display: block !important;
  }
  .rightBodyModal {
    overflow-y: hidden;
  }
  .rightBodyModal.special {
    height: auto;
  }
  .modalOtherUserPhotoComment {
    bottom: 60px;
    display: none;
  }
  .modal-dialog {
    margin: 0px !important;
    margin-top: 35px !important;
  }
  .modal-body {
    height: 100% !important;
  }
  .postTablet {
    position: absolute;
    bottom: -40px;
  }
  .postTablet.special {
    display: block !important;
  }
  .TabletTextArea {
    height: 35px;
    width: 60%;
    font-size: 16px;
  }
  .TabletComment {
    display: none;
    margin-bottom: 40px !important;
  }
  .user {
    display: none !important;
  }
  .userMenu {
    display: none !important;
  }
  .panel-body {
    height: 82vh;
  }
  .navbar-brand {
    display: block  ;
  }
}
@media (min-width: 768px) {
  .navbar-brand {
    display: block !important ;
  }
  .headerName,
  .arrowLeftMobile {
    display: none !important;
  }
  .arrowLeftMobile {
    display: none;
  }
  .headerName {
    display: none;
  }
  .TabletComment {
    display: none;
  }
  .MobileUserSideBar {
    display: none;
  }
  .infoName {
    margin-left: 20px;
  }
  .modal-lg {
    width: 1000px !important;
    height: 900px;
    /* control height here */
  }
  .img-responsive {
    max-width: 100%;
    max-height: 100%;
  }
  .modalImgWrapper {
    height: 450px;
    width: auto;
  }
  .modal {
    overflow-y: hidden !important;
  }
  .modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .modal.fade .modal-dialog {
    transform: translate(0, -100%);
  }
  .modal.in .modal-dialog {
    transform: translate(0, 0);
  }
}
@media (max-width: 460px) {
  .rightChat {
    margin-left: 30px;
  }
  .leftChat {
    margin-right: 30px;
  }
  .infoName > p > label {
    width: auto;
    padding-right: 0px;
  }
  .otherUserPhotoComment {
    margin-top: -15px;
  }
  #myCarousel {
    margin-left: -3px !important;
  }
  .img-responsive {
    max-width: 100%;
    max-height: 100%;
  }
  .modalImgWrapper {
    height: 450px;
    width: auto;
  }
  .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .userChatBlock {
    padding: 30px 10px 10px 2px;
  }
}
@media (max-width: 570px) {
  .infoName {
    margin-top: 20px;
    margin-left: 5%;
  }
  .profilePhoto {
    width: 200px;
    max-width: 100%;
    height: auto;
    width: auto\9;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px;
  }
  .userName {
    text-align: center;
    display: block;
    padding: 5px;
  }
  .textareaMainPage {
    margin: 10px 30px !important;
  }
  .user {
    display: none !important;
  }
}
@media (min-width: 999px) {
  .infoName > p {
    width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .modalTextArea {
    display: none;
  }
  .modalMasc {
    display: none !important;
  }
  .modalMasc.special {
    display: block !important;
  }
  .rightBodyModal {
    overflow-y: hidden;
  }
  .rightBodyModal.special {
    height: auto;
  }
  .modalOtherUserPhotoComment {
    bottom: 60px;
    display: none;
  }
  .modal-body {
    height: 100% !important;
  }
  .postTablet {
    position: absolute;
    bottom: -40px;
  }
  .postTablet.special {
    display: block !important;
  }
  .TabletTextArea {
    height: 35px;
    width: 60%;
  }
  .TabletComment {
    display: none;
  }
  .TabletComment.special {
    display: flex;
    justify-content: space-around;
  }
  .friendsGalleryBlock {
    display: none;
  }
  #myCarousel {
    display: block;
    margin-left: 3px !important;
  }
  .img-responsive {
    max-width: 100%;
    max-height: 100%;
  }
  .modalImgWrapper {
    height: 450px;
    width: auto;
  }
  .modal-lg {
    width: 700px !important;
  }
  .modal {
    overflow-y: auto !important;
  }
}
