/*modal Cancel cross ----------------*/

.crossModal {
  background-image: url("../img/cancelModal.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  z-index: 2;
  position: absolute;
  right: 0;
}

.modal-header {
  opacity: 0.5;
  color: rgba(255, 255, 255, .1);
}


/*modal Cancel cross ----------------END*/


/*modal cancel cross*/

.modalImg {
  /*margin-bottom: 22px*/
  object-fit: cover;
  width: auto !important;
}

.modalImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalImgCount {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 22px;
  bottom: 0;
  z-index: 2;
  left: 44%;
}

.modal-body {
  background-color: #f2f2f2;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.rightBodyModal {
  overflow-y: scroll;
  height: 450px;
}

.LightBodyModal {
  background-color: #313131;
}


/*USER PHOTO AND OTHER START*/

.modalUser {
  padding-top: 5px;
  background-color: gainsboro;
  min-height: 70px;
  border-bottom: 1px solid gray;
}

.modalUserName {
  cursor: pointer;
  font-weight: 600;
}

.modalSenderPhoto {
  object-fit: cover;
  margin-left: 20px;
  height: 50px !important;
  width: 50px !important;
  cursor: pointer;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  display: block;
}


/*USER PHOTO AND OTHER END*/


/*LIKE START*/

.modalHeart {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url("../img/heart.png");
  float: left;
  cursor: pointer;
  margin-right: 10px;
}

.modalLike {
  padding-top: 25px;
  padding-left: 25px;
  min-height: 70px;
  border-bottom: 1px solid gray;
}

.modalLikeText {
  cursor: pointer;
  width: 230px;
}

.modalLikeText>span {
  padding-left: 10px;
  font-weight: 600;
}

.modalLike>div {
  width: 180px;
}

.modalLike>div:hover .modalHeart {
  background-image: url("../img/heart_hover.png");
}

.modalHeart:hover {
  background-image: url("../img/heart_hover.png");
}


/*LIKE END*/


/*Post START*/

.modalPost {
  border-bottom: 1px solid gray;
}
.postText{
  padding: 5px;
  margin-left: 60px;
  font-size: 16px;
}

.modalOtherUserPhotoPost {
  object-fit: cover;
  height: 30px !important;
  width: 30px !important;
  margin-left: 20px;
  display: block;
}

.modalOtherUserPhotoComment {
  object-fit: cover;
  height: 30px !important;
  width: 30px !important;
  position: absolute;
  bottom: -40px;
  left: 20px;
  display: block;
}

.modalHeartComm {
  margin-top: -30px;
  margin-right: 40px;
}

.modalHeartComm>span {
  padding-left: 20px;
  font-weight: 600;
}

.modalPhotoPost {
  object-fit: cover;
  max-width: 200px !important;
  height: auto !important;
  margin-top: 15px;
  cursor: pointer;
}

.modalCancel {
  background-image: url("../img/cancel.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 40px;
  margin-top: -25px;
  cursor: pointer;
}

.modalPostUser {
  cursor: default;
  font-size: 16px;
  font-weight: 600;
}

.modalPostDate {
  margin-top: 10px;
  margin-left: 60px;
  color: gray;
}


/*Post END*/


/*Footer START*/

.modal-footer {
  /*background-color:#514e4e;*/
  padding: 10px !important;
}

.leftFotterModal {
  display: flex;
  justify-content: space-around;
}

.modalComment {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-image: url("../img/comment.png");
  cursor: pointer;
}

.modalHeartFooter {
  width: 30px;
  height: 30px;
}

.modalHeartFooter>span {
  position: relative;
  top: 5px;
  left: 28px;
  font-size: 16px;
  font-weight: 600;
}

.modalRecycleBin {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-image: url("../img/recycleBin.png");
  cursor: pointer;
}

.modalHeartFooter:hover {
  background-image: url("../img/heart_hover.png");
}

.modalComment:hover {
  background-image: url("../img/comment_hover.png");
}

.modalMakeComment {
  margin-top: 5px;
  cursor: default;
  width: 240px;
  font-size: 16px;
  margin-left: -20px;
}

.modalTextArea {
  position: absolute;
  bottom: -70px;
  transform: scaleX(0);
  width: 100%;
  height: 70px;
  padding-top: 15px;
  padding-left: 55px;
  font-size: 16px;
}

.modalTextArea.special {
  transform: scaleX(1);
}

.rightBodyModal.special {
  height: 380px;
}

.modalSendBlock {
  display: none;
}

.modalSendBlock.special {
  display: block;
}

.modalMakeComment.special {
  display: none;
}

/*Footer END*/