@font-face{
    font-family: Helvetica, Arial;
    src: url("./fonts/HelveticaBlack/HelveticaBlack.ttf");
}
.logo{
	margin: auto;
}
.friends{
    width: 289px;
    height: 130px;
    border: 1px solid rgb(204,204,204);
     margin: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
}
.friendPhoto{
    margin: 15px;
    width: 80px;
    height: 100px;
	object-fit: cover;
}

.firstSecondName{
    color: #333;
    margin: 15px 20px 10px 5px;
    font-weight: bold;
}
.friendFirstName{
    margin: 0 5px 0 0;
}
.countFriends{
    margin: 0 0 0 15px;
    color: rgb(127, 122, 146);
}
.pFriend{
    margin: 0 0 0 5px;
}
.buttons{
    width: 30px;
   display: none;
}
.icon{
	color: black!important;
	margin: 0 0 10px 0;
}
.icons{
    width: 20px;
    height: 60px;
    padding: 3px 0 0;
    margin: 25px 0 0 12px;
    display: flex;
    flex-direction: column;
}
.partOfSendvich{
    height: 2px;
    width: 15px;
    margin: 5px 0 0 9px;
    background: rgb(204,204,204);
}

.write:hover, .del:hover{
	color: white;
     background: rgb(100, 57, 96);
    transition: 1s;
}
/*Friends Box end*/
/*Main END*/
/*адаптивність*/
@media screen and (min-width: 320px){
	.friends{
		width: 290px;
	}
	.friendPhoto{
		
		margin: 15px 5px;
	}

	.aboutFriend{
		width: 150px;
	}
	.icons{
		flex-direction: column;
		margin: 15px 0 0 0;
	}
}
@media screen and (min-width: 360px){
	.friends{
		width: 329px;
		
	}
	.friendPhoto{
		margin: 15px 10px;
	}
	.aboutFriend{
		width: 190px;
	}
	
}
@media screen and (min-width: 375px){
	.friends{
		width: 345px;
	}
	.aboutFriend{
		width: 205px;
	}
}
@media screen and (min-width: 412px){
	.friends{
		width: 379px;
	}
	.aboutFriend{
		width: 230px;
	}
}
@media screen and (min-width: 600px){
	.friends{
		width: 530px;
	}
	.aboutFriend{
		width: 215px;
	}
	.icons{
		display: none;
	}
	.buttons{
    width: 30px;
   display: block;
   }
   .write{
	background: rgb(169, 109, 163);
    border: 1px solid rgb(204,204,204);
    color: white;
    height: 40px;
    width: 180px;
    margin: 15px 10px 0;
    
	}
	.del{
		height: 40px;
    width: 180px;
    margin: 15px 10px 0;
	background: white;
	border: 1px solid rgb(204,204,204);
	color: rgb(169, 109, 163);;
	}
}
@media  screen and (min-width: 768px){
	.friends{
		width: 520px;
	}
	.buttons{
		display: block;
		padding-top: 3px;
	}
	.icons{
		display: none;
	}
	.aboutFriend{
		width: 200px;
	}
}

@media  screen and (min-width: 992px){
	.friends{
		width: 685px;
		display: flex;
		flex-direction: row;
	}
	.aboutFriend{
		width: 350px;
	}
	
}
@media  screen and (min-width: 1200px){
	.friends{
		width: 835px;
		
	}
	.aboutFriend{
		width: 500px;
		
	}
	
}