@font-face{
    font-family: Helvetica, Arial;
    src: url("./fonts/HelveticaBlack/HelveticaBlack.ttf");
}
.logo{
	margin: auto;
}
.friends{
    width: 289px;
    height: 130px;
    border: 1px solid rgb(204,204,204);
    margin: 0 10px 10px;
    display: flex;
    flex-direction: row;
}
.friendPhoto{
    margin: 15px;
    width: 80px;
    height: 100px;
    background-image: url('../img/users/user1/avatar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.firstSecondName{
    color: #333;
    margin: 35px 15px 10px;
    font-weight: bold;
}
.friendFirstName{
    margin: 0 5px 0 0;
}
.countFriends{
    margin: 0 0 0 15px;
    color: rgb(127, 122, 146);
}
.pFriend{
    margin: 0 0 0 5px;
}
.buttons{
    width: 30px;
   display: none;
}
.sendvich{
    width: 42px;
    height: 30px;
    padding: 3px 0 0;
    margin: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
}
.partOfSendvich{
    height: 2px;
    width: 15px;
    margin: 5px 0 0 9px;
    background: rgb(204,204,204);
}

.write:hover, .del:hover{
    background: rgb(204,204,204);
    transition: 1s;
}
/*Friends Box end*/
/*Main END*/
/*адаптивність*/
@media screen and (min-width: 320px){
	.friends{
		width: 250px;
	}
	.friendPhoto{
		margin: 15px 5px;
	}
}
@media screen and (min-width: 360px){
	.friends{
		width: 290px;
	}
	.friendPhoto{
		margin: 15px 10px;
	}
}
@media screen and (min-width: 375px){
	.friends{
		width: 305px;
	}
	
}
@media screen and (min-width: 412px){
	.friends{
		width: 340px;
	}
}
@media screen and (min-width: 480px){
	.friends{
		width: 620px;
	}
	.aboutFriend{
		width: 450px;
	}
}
@media  screen and (min-width: 768px){
	.friends{
		width: 520px;
	}
	.buttons{
		display: block;
		padding-top: 3px;
	}
	.write, .del{
    background: white;
    height: 40px;
    width: 180px;
    margin: 15px 10px 0;
    margin: 15px 10px 0;
    border: 1px solid rgb(204,204,204);
	}
	.sendvich{
		display: none;
	}
	.aboutFriend{
		width: 180px;
	}
}

@media  screen and (min-width: 992px){
	.friends{
		width: 685px;
		display: flex;
		flex-direction: row;
	}
	.aboutFriend{
		width: 350px;
	}
}
@media  screen and (min-width: 1200px){
	.friends{
		width: 835px;
		
	}
	.aboutFriend{
		width: 500px;
		
	}
	
}