@font-face{
    font-family: Helvetica, Arial;
    src: url("./fonts/HelveticaBlack/HelveticaBlack.ttf");
}
/*header START*/
.header{
	font-family: Helvetica;
    background: rgb(17, 17, 17);
    height: 50px; 
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
}
.header_logo{
    width: auto;
    height: 30px;
    margin: 9px 0 0 25px;
}
.nav_a, .header_nav-hiden{
    color: rgb(163, 159, 150);
    text-decoration: none;
    list-style: none;
}
.header_enter, .header_enter2{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 149px;
    margin-right: 90px;
}
.header_nav-hiden{
    display: none;
}
#triangle-down {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid rgb(163, 159, 150);
    margin-top: 22px;
    display: none;
}
.user_header {
    border-radius: 50%;
    height: auto;
    width: 50px;
    display: none;
}
.sendvich{
    width: 42px;
    height: 30px;
    padding: 3px 0 0;
    border: 1px solid rgb(51, 51, 51);
    margin: 8px 10px 0 0;
    
    display: flex;
    flex-direction: column;
}
.sendvich:hover{
    background: rgb(51, 51, 51);
}
.partOfSendvich{
    height: 2px;
    width: 25px;
    margin: 5px 0 0 9px;
    background: white;
}
/*Header END*/
/*Main START*/
.wrapper{
    font-family: Helvetica, Arial;
    background: rgb(220, 220, 220);
    width: 100%;
    height: 100%;
    padding: 10px 0 0 10px;
}
.wrapper_main{
    width: 1150px;
    margin: 0 auto 0 90px;
}
.menu{
    font-size: 14px;
    width: 175px;
    height: auto;
    background: white;
    margin: 0;
    /*padding: 20px;*/
    padding: 0;
    list-style: none;
    border: 1px solid rgb(245, 245, 245);
}
.nav_a{
    display: block;
    padding: 15px;
    
    color: rgb(127, 122, 146);
}
.nav_a:hover{
    color: #333;
    background-color:rgb(220, 220, 220);
}
/*Main END*/
/*адаптивність*/
@media  screen and (min-width: 768px){
    .header_enter{
        display: flex;
        margin-right: 25px;
        font-size: 14px;
    }
    #triangle-down{
        display: flex;
    }
    .user_header{
        display: flex;
    }
    .sendvich{
        display: none;
    }

@media  screen and (min-width: 992px){
    .header_enter{
        margin-right: 90px;
    }
    .header_logo{
        margin: 9px 0 0 103px;
    }
}
@media  screen and (min-width: 1200px){

}