/*GENERAL START*/

#wrapper {
    overflow-x: hidden;
    position: fixed;
}

body {
    background: #f2f2f2;
    -webkit-overflow-scrolling: touch;
    font-family: HelveticaBlack;
    overflow-y: scroll;
}

@font-face {
    font-family: HelveticaBlack;
    src: local("../fonts/HelveticaBlack/HelveticaBlack.ttf");
}

.container-fluid {
    background-color: gainsboro;
}

.custom-container {
    margin-top: 65px;
}
.custom-container > .row{
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.classWithPad {
    margin: -5px;
    background-color: white;
    /*padding:1px; *
/* Navigation header START*/
}


/*GENERAL END*/

.logo {
    height: 30px;
    width: auto;
    margin-top: -10px !important;
}

.navbar {
    background: rgb(17, 17, 17) !important;
}

.navbarToggleMasc {
    border-radius: 0px !important;
}

.btn-default {
    font-family: Helvetica !important;
    color: white !important;
    background: rgb(169, 109, 163)!important;
    border: none !important;
    border-radius: 0 !important;
    text-shadow: none !important;
    /*font-size: 12px !important;*/
}

.btn-default:hover {
    background: rgb(100, 57, 96) !important;
    transition: 1s !important;
    border: none !important;
}

.label-danger {
    background: gray !important;
}

.label-primary {
    background: #201d1d !important;
}

.userHeader {
    border-radius: 50%;
    height: auto;
    width: 50px;
}

.user {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.mineNavbar {
    margin: 7.5px 0px !important;
}


/* Navigation header END*/


/* Navigation main START*/

.userSideBar {
    /*height: 100vh;*/
}

.asideNavbar li:hover {
    background-color: gainsboro;
    width: 100%;
}

.asideNavbar li {
    background-color: white;
    width: 100%;
}

.asideNavbar>li>a {
    font-size: 14px;
}

.asideNavbar ul {
    /*background-color: whitesmoke;*/
    width: 100px;
}

.userNavbar {
    box-shadow: none !important;
    border-color: whitesmoke !important;
}


/* Navigation main END*/


/*Main body START*/


/*left part START*/

.friend {
    background-size: cover;
    height: 70px!important;
    width: 70px!important;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
}

.friend:hover {
    /*border: 1px solid gray;*/
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.friend1 {
    background-image: url("../img/users/user1/avatar.jpg");
}

.friend2 {
    background-image: url("../img/users/user2/hqdefault.jpg");
}

.friend3 {
    background-image: url("../img/users/user3/Rachel_McAdams_5.jpg");
}

.friend4 {
    background-image: url("../img/users/user4/d93361ffaed234.jpg");
}

.friend>figcaption {
    padding-left: 85px;
    padding-top: 17px;
}

.friend>figcaption:hover {
    color: gray;
}

.myFriends,
.myGallery {
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.myFriends>span {
    font-size: 18px;
    color: gray;
}

.gallery {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    width: 300px;
}

.galleryRow {
    display: flex;
}

.galleryItem {
    /*background-size: cover;*/
    object-fit: cover;
    height: 115px;
    width: 115px;
    cursor: pointer;
    margin: 5px;
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.carouselItem {
    background-size: cover;
    height: 220px;
    width: auto;
}

.carouselWrapper {
    /*width: 40%;*/
    height: 220px;
}

  ul[rn-carousel]{
        overflow: hidden !important;
    }

/*tablet*/

@media (max-width: 767px) {
   
  
    ul[rn-carousel]>li { 
        left: 10em !important;
        right: 10em !important;
        width: auto !important;
    }
    .carouselWrapperColumn{
        /*padding-left: 30px !important;*/
        /*padding-right: 45px !important;*/
    }
}
@media  (min-width: 768px) and (max-width: 992px){
     ul[rn-carousel]>li { 
        left: 10em !important;
        width: auto !important;
        right: 10em !important;
    }
     .carouselWrapperColumn{
        /*padding-left: 20px !important;*/
        /*padding-right: 20px !important;*/
    }
}

/*extraSmall*/
@media (max-width: 560px) {
    ul[rn-carousel]>li {
        left: 4em !important;
        width: auto !important;
        right: 4em !important;
      
    }
     .carouselWrapper {
        height: 155px;
    }
    .carouselItem{
        height: 155px;
    }
    .restPage{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
}


/*left part END*/

.userMainBody {
    min-height: 880px;
    /*overflow-y: scroll;*/
}


/*Background*/

.Background {
    height: 175px;
}

.backgroundImage {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 225px;
}


/*Update Background*/

.updateBg {
    margin-top: 30px;
    margin-left: 40px;
    width: 200px;
    padding-left: 5px;
    padding-top: 5px;
}

.updateBg:hover {
    border: 1px double white;
    background-color: slategrey;
    cursor: pointer;
}

.changeBgImage {
    background-image: url("../img/bgChange.png");
    background-size: cover;
    width: 35px;
    height: 25px;
}

.updateBg:hover .changeBgImage {
    background-image: url("../img/bgChange_hover.png");
}

.changeBgText {
    color: white;
    font-size: 11.5px;
    padding-top: 5px;
    display: none;
}

.updateBg:hover .changeBgText {
    display: block;
}


/*Edit mainPage*/

.editProfile {
    margin-top: 175px;
    margin-right: 20px;
}

.editBtnWidth {
    width: 20px;
}


/*user Main Infromation*/

.mascLeft {
    padding-left: 0 !important;
}

.userName {
    padding-bottom: 15px;
    /*white-space: nowrap;*/
}

.infoName {
    padding-left: 15px;
}

.infoName>p>label {
    width: 150px;
    /*padding-right: 60px;*/
    /*margin-left:40px;*/
}

.infoName>p {
    text-align: left;
}

.profilePhoto {
    /*background-size: cover;*/
    /*background-image: url("../img/avatar.jpg");*/
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin-top: -40px;
    border-radius: 0px !important;
    cursor: pointer;
}


/*Friends and photo count*/

.friendsAndPhoto * {
    font-size: 20px;
    font-weight: 400;
}

.friendsAndPhoto {
    margin-top: 10px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.friendsAndPhoto>div>p {
    cursor: pointer;
    width: 20px;
}

.friendsAndPhoto>div {
    margin-right: 50px;
    display: flex;
    justify-content: flex-start;
    padding: 0 !important;
}

.friendsAndPhotoIcon {
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.friendsIco {
    background-image: url("../img/friends.png");
    margin-left: 10px;
}

.galleryIco {
    background-image: url("../img/gallery.png");
    margin-left: 70px;
}


#myCarousel {
    display: none;
}


/*Comment START*/

.commentImage {
    background-image: url("../img/bgChange_hover.png");
    background-size: cover;
    width: 35px;
    height: 25px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

.commentImage:hover {
    background-image: url("../img/bgChange.png");
}

.post {
    margin: 5px;
}


/*Comment END*/


/*POST START*/
@media(min-width: 768px){
   .textareaMainPage{
    margin:10px 50px;
} 
.posters{
    margin:10px 50px !important; 
}
}
@media (max-width: 767px) {
.textareaMainPage{
    margin:10px 25px;
}
.posters{
    margin:10px 25px !important; 
}
}

.posters {
    background-color: #f2f2f2;
    margin: 10px;
}

.posters div {
    padding: 10px;
    background-color: gainsboro;
}

.posters p {
    padding: 10px;
    font-size: 16pt;
    margin: 0 !important;
}

.otherUserPhoto {
    background-image: url("../img/users/user1/avatar.jpg");
    background-size: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}

.otherUserPhotoComment {
    /*background-image: url("../img/users/user1/photo/photo.jpg");*/
    /*background-size: cover;*/
    object-fit: cover;
    cursor: pointer;
    width: 240px;
    max-width: 100%;
    height: auto;
    display: block;
    padding: 5px;
}


/*POST END*/


/*Main body END*/

.headerName {
    display: none;
    top: -35px;
    left: -4px;
}

.arrowLeftMobile {
    /*display: none;*/
}

.navbar-brand,
.panel-primary {
    display: block !important;
}

.row{
    /*margin-left: 5px !important;
    margin-right: 5px !important;*/
}