@font-face{
    font-family: Helvetica, Arial;
    src: url("./fonts/HelveticaBlack/HelveticaBlack.ttf");
}
/*header*/
input[disabled="disabled"]{
	opacity: 0.4;
	cursor: not-allowed !important;
}
.header{
	font-family: Helvetica;
    background: rgb(17, 17, 17);
    height: 50px; 
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
}
.navbar-brand{
    width: 125px;
    display: block;
    height: 30px;
    margin: 8px 0 0 30px;
}
.header_logo{
        width: 125px;
        height: 30px;
    }
.header_enter{
    display: none;
}
.email, .password{
	font-family: Helvetica;
    margin: 5px;
}
.enter_button{
	font-family: Helvetica;
    width: 95px;
	height: 30px;
    color: white;
    border:1px solid rgb(61, 61, 61);
    background: rgb(169, 109, 163);
    /*background: rgb(81, 81, 81);*/
}
.enter_button:hover{
    background: rgb(100, 57, 96);
    transition: 1s;
}
/*main*/
.main{
    padding: 50px 0 50px;
    background: #c3cbe0;
}
.main_enter{
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    background: white;
    width: 325px;
    margin: 0 auto 25px;
    padding: 15px 5px;
}
.main_login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
    height: 180px;
    margin: 0 auto 15px;
}
.formRegistration{
      display: flex;
  }
.mainenter_button{
	width: 275px;
}
.email_input, .password_input{
	height: 30px;
}
.error{
	color: red;
	margin-top: 0px;
}
.registration{
	font-family: Helvetica;
    background: white;
    width: 325px;
    display: flex;
    flex-direction: column;
    padding: 15px 5px;
    margin: auto;
}
.registration_header, .enter_header{
    text-align: center;
    font-size: 25px;
    margin: 0 0 10px;
}
.registration_secondheader{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 0 0 10px 0;
}
.partOfForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
    
    margin: auto;
}
.inputsPartOfForm{
    margin: 5px 0;
	height: 25px;
}
.form_button, .mainenter_button{
    margin: 5px 0 10px 0;
    height: 50px;
    color: white;
    background: rgb(169, 109, 163);;
    border: 1px solid rgb(204,204,204);
}
.form_button:hover, .mainenter_button:hover{
    background: rgb(100, 57, 96);
    transition: 1s;
}

/*footer*/
.footer{
	font-family: Helvetica;
    background: rgb(17, 17, 17);
    height: 50px; 
    color: #fff;
    text-align: center;
    padding: 25px 0 0;
}
.footer_text{
    margin: 0;
}
/*адаптивність*/

@media  screen and (min-width: 768px){
	.header{
		height: 50px;
	}
    .navbar-brand{
        margin: 8px 0 0 30px;
    }
    .header_logo{
        width: 125px;
        margin-top: -10px;
        height: 30px;
    }
    .header_enter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        height: 30px;
        width: 600px;
        margin: 10px 10px 0;
    }
    .main{
        padding: 50px 0 50px;
        background: #c3cbe0;
    }
    .main_enter{
        display: none;
    }
    .registration{
        /*height: 400px;*/
        width: 400px;
        margin: auto;

    }
    .registration_header, .enter_header{
        margin: 15px 0 10px;
    }
    .email_input, .password_input{
        width: 150px;
		height: 25px;
    }
    .enter_button{
        margin: 0 0 0 5px;
    }
    .partOfForm{
        margin: 20px auto 0;
        width: 375px;
        /*height: 275px;*/
    }
    
}
@media  screen and (min-width: 992px){
    .registration{
        width: 430px;
        /*height: 375px;*/
    }
    /*.header_logo{
        margin: 8px 0 0 80px;
    }*/
    .main_enter{
        display: none;
    }
    .partOfForm{
        margin: 20px auto 0;
        width: 375px;
        /*height: 250px;*/
    }
}
@media  screen and (min-width: 1200px){
    .header_logo{
        width: auto;
        height: 30px;
        /*margin: 8px 0 0 150px;*/
        }
        .navbar-brand{
    width: 125px;
    display: block;
    height: 30px;
    margin: 8px 0 0 145px;
}
    .main{
        background: url("../img/avtorizbackground.jpg");
        background-size: auto;
        padding: 120px 0 170px 100px;
        }
    .main_enter{
        display: none;
        }
    .registration{
		padding: 15px 0 10px 0;
        margin: 0 0 0 50px;
    }
}