<div class="searchBlock">
    <figure class="searchIcon"><label>Пошук</label></figure>
    <figure class="addIcon"></figure>

</div>
<div class="userChatBlock">
    <div class="chatWrapper">
        <figure class="userChatPhoto"><label>Дженніфер Лоуренс</label></figure>
        <div class="userLast">
            <figure class="userLastPhoto"> <p class="userLastComment">Це просто неймовірно!</p></figure>
        </div>
    </div>
    <p class="chatDate">Вчора</p>
</div>
<div class="userChatBlock">
    <div class="chatWrapper">
        <figure class="userChatPhoto"><label>Дженніфер Лоуренс</label></figure>
        <div class="userLast">
            <figure class="userLastPhoto"> <p class="userLastComment">Це просто неймовірно!</p></figure>
        </div>
    </div>
    <p class="chatDate">Вчора</p>
</div>
<div class="userChatBlock">
    <div class="chatWrapper">
        <figure class="userChatPhoto"><label>Дженніфер Лоуренс</label></figure>
        <div class="userLast">
            <figure class="userLastPhoto"> <p class="userLastComment">Це просто неймовірно!</p></figure>
        </div>
    </div>
    <p class="chatDate">Вчора</p>
</div>
<div class="userChatBlock">
    <div class="chatWrapper">
        <figure class="userChatPhoto"><label>Дженніфер Лоуренс</label></figure>
        <div class="userLast">
            <figure class="userLastPhoto"> <p class="userLastComment">Це просто неймовірно!</p></figure>
        </div>
    </div>
    <p class="chatDate">Вчора</p>
</div>
<div class="userChatBlock">
    <div class="chatWrapper">
        <figure class="userChatPhoto"><label>Дженніфер Лоуренс</label></figure>
        <div class="userLast">
            <figure class="userLastPhoto"> <p class="userLastComment">Це просто неймовірно!</p></figure>
        </div>
    </div>
    <p class="chatDate">Вчора</p>
</div>
<div class="userChatBlock">
    <div class="chatWrapper">
        <figure class="userChatPhoto"><label>Дженніфер Лоуренс</label></figure>
        <div class="userLast">
            <figure class="userLastPhoto"> <p class="userLastComment">Це просто неймовірно!</p></figure>
        </div>
    </div>
    <p class="chatDate">Вчора</p>
</div>