<link rel="stylesheet" href="src/css/chatAdditional.css">
<div ng-controller="chatUserCtrl">
<div class="panel panel-primary">
    <div class="panel-heading userChatPanel">
        <a  onclick="history.back()">
            <figure class="arrowLeft"></figure>
        </a>
        <a class="userChatName" ui-sref="mainContainer.mainPage">{{page.chat[chatId].chatName}}</a>
        <figure class="searchIcon searchIconUserChat"></figure>
    </div>
</div>

    <div class="panel-body"  >
    <ul class="chat" data-ng-repeat="chat in page.chat[chatId].messages">

        <li class="rightChat clearfix pull-right" ng-if="chat.side == 'R'">
            <div class="chat-body bubbleRight ">
                <p>
                    {{chat.data}}
                </p>
                <div class="msgTime">
                    <small class="pull-right ">
                        <span class="glyphicon glyphicon-time"></span>  {{chat.time}}
                    </small>
                </div>
            </div>
            <span class="chat-img pull-right">
                <img class="userChatPhoto" ng-src="{{page.chat[chatId].rightImage}}" alt="Mine Avatar" />
            </span>
        </li>


        <li class="leftChat clearfix pull-left" ng-if="chat.side == 'L'">
            <span class="chat-img pull-left">
                <img class="userChatPhoto" ng-src="{{page.chat[chatId].leftImage}}" alt="User Avatar"/>
            </span>
            <div class="chat-body bubbleLeft">

                <p>
                      {{chat.data}}
                </p>
                <div class="msgTime">
                    <small class="pull-right ">
                        <span class="glyphicon glyphicon-time"></span>{{chat.time}}
                    </small>
                </div>
            </div>
        </li>
    </ul>
    </div>

<div style="padding-bottom: 20px;"  class="panel-footer" 
        ng-class="tabletMode ? 'navbar-fixed-bottom' : '' ">
        <figure  class="addFileChat"></figure>
       <figure   class="chatGalleryIco"></figure>
        <textarea type="text" msd-elastic ng-model="foo" class="form-control inputdefault chatInput" 
            placeholder="Напишіть повідомлення...">  
             </textarea>
        <figure class="sendIcon chatButton" ></figure>
     
</div>
 </div>