

<div class="searchBlock ">
    <figure class="searchIcon"></figure>
    <span class="searchText">Пошук</span>
</div>

    <a class="userChatBlock" ui-sref="mainContainer.chatUser"  ng-repeat="chat in page.chat" >
        <div class="chatWrapper" ng-click="chatEnter(chat.id);">
            <img class="userChatPhoto" ng-src="{{chat.sender}}" ng-if="chat.sender" alt="sender">
            <span class="userNameChat">{{chat.senderName}}</span>
            <div class="userLast">
                <img class="userLastPhoto"  ng-src="{{chat.lastMsgUrl}}" ng-if="chat.lastMsgUrl" alt="lastUrl">
                <span class="userLastComment">{{chat.lastMsgText}}</span>
            </div>
        </div>
        <p class="chatDate">{{chat.date}}</p>
    </a>
