<link rel="stylesheet" href="src/css/chatAdditional.css">

<div class="panel panel-primary">
    <div class="panel-heading userChatPanel">
        <a  onclick="history.back()">
            <figure class="arrowLeft"></figure>
        </a>
        <a class="userChatName">{{$ctrl.page.chat[0].sender_name}}</a>
        <figure class="searchIcon searchIconUserChat"></figure>
    </div>
</div>

    <div class="panel-body" >
    <ul class="chat" data-ng-repeat="chat in $ctrl.page.chat[0].messages">

        <li class="rightChat clearfix pull-right animated fadeInRight" ng-if="chat.side == 'R'">
            <div class="chat-body bubbleRight ">
                <p>
                    {{chat.message_data}}
                </p>
                <div class="msgTime">
                    <small class="pull-right ">
                        <span class="glyphicon glyphicon-time"></span>  {{chat.message_date}}
                    </small>
                </div>
            </div>
            <span class="chat-img pull-right">
                <img class="userChatPhoto" ng-src="{{subPage.chat[0].reciever_url}}" alt="Mine Avatar" />
            </span>
        </li>


        <li class="leftChat clearfix pull-left animated fadeInLeft" ng-if="chat.side == 'L'">
            <span class="chat-img pull-left">
                <img class="userChatPhoto" ng-src="{{subPage.chat[0].sender}}" alt="User Avatar"/>
            </span>
            <div class="chat-body bubbleLeft">

                <p>
                      {{chat.message_data}}
                </p>
                <div class="msgTime">
                    <small class="pull-right ">
                        <span class="glyphicon glyphicon-time"></span>{{chat.message_date}}
                    </small>
                </div>
            </div>
        </li>
    </ul>
    </div>

<div style="padding-bottom: 20px;"  class="panel-footer" 
        ng-class="tabletMode ? 'navbar-fixed-bottom' : '' ">
        <figure  class="addFileChat"></figure>
       <figure   class="chatGalleryIco"></figure>
        <textarea type="text" msd-elastic ng-model="foo" class="form-control inputdefault chatInput" 
            placeholder="Напишіть повідомлення...">  
             </textarea>
        <figure class="sendIcon chatButton" ></figure>
     
</div>
 