<link rel="stylesheet" href="src/css/chatAdditional.css">

<div class="panel panel-primary">
    <div class="panel-heading userChatPanel">
        <a ng-href="#/controller-chat">
            <figure class="arrowLeft"></figure>
        </a>
        <a class="userChatName" ng-href="#/controller-mainPage">Дженніфер Лоуренс</a>
        <figure class="searchIcon searchIconUserChat"></figure>
    </div>
</div>
<div class="panel-body">
    <ul class="chat">

        <li class="rightChat clearfix pull-right" >
            <div class="chat-body bubbleRight ">
                <p>
                    Просто так, неожиданно пришел закат, Ласково ноченька приплыла к нам с того берега, К шелку уронила. Что не так? И зачем
                    я так хочу бежать Долго ли лодочка, ты плыви плыви, Больно мне помнить
                </p>
                <div class="msgTime">
                    <small class="pull-right ">
                        <span class="glyphicon glyphicon-time"></span>12 mins ago
                    </small>
                </div>
            </div>
            <span class="chat-img pull-right">
                <img class="userChatPhoto" src="../../src/img/avatar.jpg" alt="Mine Avatar" />
            </span>
        </li>


        <li class="leftChat clearfix pull-left">
            <span class="chat-img pull-left">
                <img class="userChatPhoto" src="../../src/img/users/user1/avatar.jpg" alt="User Avatar"/>
            </span>
            <div class="chat-body bubbleLeft">

                <p>
                    Це просто неймовріно!
                </p>
                <div class="msgTime">
                    <small class="pull-right ">
                        <span class="glyphicon glyphicon-time"></span>12 mins ago
                    </small>
                </div>
            </div>
        </li>




        <li class="rightChat clearfix pull-right" >
            <div class="chat-body bubbleRight ">
                <p>
                          Знаєш приспів?
                </p>
                <div class="msgTime">
                    <small class="pull-right ">
                        <span class="glyphicon glyphicon-time"></span>12 mins ago
                    </small>
                </div>
            </div>
            <span class="chat-img pull-right">
                <img class="userChatPhoto" src="../../src/img/avatar.jpg" alt="Mine Avatar" />
            </span>
        </li>

        
        <li class="leftChat clearfix pull-left">
            <span class="chat-img pull-left">
                <img class="userChatPhoto" src="../../src/img/users/user1/avatar.jpg" alt="User Avatar"/>
            </span>
            <div class="chat-body bubbleLeft">
                <p>
                    Знаю<br>
                    Я хочу улететь, <br>
                    Чтобы высоко и вниз не смотреть,<br>
                    И за руку тебя милый мой,<br>
                    Заберу я с собой...<br>
                    Ты оставил мне след,<br>
                    По которому, я буду лететь.<br>
                    И за руку тебя, мой родной,<br>
                    Заберу я с собой...
                </p>
                <div class="msgTime">
                    <small class="pull-right ">
                        <span class="glyphicon glyphicon-time"></span>12 mins ago
                    </small>
                </div>
            </div>
        </li>

    </ul>
</div>
<div class="panel-footer">
    <div class="input-group">
        <figure class="addFileChat"></figure>
       
        <input  type="text" class="form-control inputdefault chatInput" placeholder="Напишіть повідомлення..." />
        <span class="input-group-btn">
            <button class="btn btn-default btn-sm chatButton" >
                Відпр</button>
        </span>
    </div>
</div>
