     <!--friends part Start-->
      <div class="partOfFriends" ng-app="socialNetwork" > 
        <div  class="friends" ng-repeat="friend in subPage.friends">
          <img ui-sref="mainContainer.userPage"  ng-click="reqFriend(friend.id)" class="friendPhoto" src="{{friend.avatar_url}}"/>
          <div  class="aboutFriend">
            
          	<div ui-sref="mainContainer.userPage" class="firstSecondName" ng-click="reqFriend(friend.id)" >
          		<span class="friendFirstName">{{friend.first_name}}</span>
          		<span class="friendSecondName">{{friend.second_name}}</span>
          	</div>
              <p class="countFriends">{{friend.count_friends}}<span class="pFriend">друзів</span></p>
          </div>
           <div class="icons">
            <a ui-sref="mainContainer.chatUser" class="icon"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
          	<p><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></p>
          </div>
          <div class="buttons" >
            <a ui-sref="mainContainer.chatUser" ng-click="chatEnter(friend.id);"><button type="button" class="write">Написати повідомлення</button></a>
            <button type="button" class="del">Видалити з друзів</button>
          </div>
        </div>
        </div>
        