<link rel="stylesheet" href="src/css/galleryAdditional.css">
<div ng-init="initialised=true;" class="animated fadeIn " class="galleryContainer">
    <div deckgrid class="deckgrid clearfix" source="$ctrl.page.gallery">
        <div class="a-card " >
            <a  data-ng-click="mother.$ctrl.open(card.$index,'$ctrl.page')" >
            <img  alt="gallery item {{card.$index}}" data-ng-src="{{card.image_url}}" class="img-responsive galleryImg">
            <!-- <video  class="img-responsive" controls>
                <source  ng-src="{{card.image_url}}" type="video/mp4"> Your browser does not support the video tag.
            </video> -->
            </a>
        </div>
    </div>
</div>
<!--
    <div class="item">
        <div class="thumbnail">
            <iframe src="https://www.youtube.com/embed/AFShDQEDpwA" class="img-responsive"></iframe>
        </div>
    </div>

    <div class="item">
        <div class="thumbnail">
            <video class="img-responsive" controls>
                <source src="../../src/img/gallery/17886612_408601146173419_7676048418510209024_n.mp4" type="video/mp4"> Your browser does not support the video tag.
            </video>
        </div>
    </div>

   

</div>-->

<div class="row navbar navbarGallery navbar-fixed-bottom" data-ng-if="$ctrl.isLoggined($ctrl.userId, $ctrl.logginedId)">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="galleryInput"
        type="file"  
        ngf-select="$ctrl.uploadPic(picFile, $ctrl.page.posts.length); picFile = null" 
         ng-model="picFile"  
        name="file" 
        accept="image/*" 
        ngf-model-invalid="errorFile">
            <button type="button" class="btn btn-default btnGallery "
          
            >
            Додати Фото/Відео</button>
           
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/salvattore/1.0.9/salvattore.js"></script>