<link rel="stylesheet" href="src/css/galleryAdditional.css">

<div class="row masonry" data-columns>
    <div class="item">
        <div class="thumbnail galleryLink">
            <img src="src/img/gallery/1.jpg" alt="" class="img-responsive">
        </div>
    </div>
    <div class="item">
        <div class="thumbnail galleryLink">
            <img src="src/img/gallery/2.jpg" alt="" class="img-responsive">

        </div>
    </div>
    <div class="item">
        <div class="thumbnail galleryLink">
            <img src="src/img/gallery/3.jpg" alt="" class="img-responsive">

        </div>
    </div>
    <div class="item">
        <div class="thumbnail galleryLink">
            <img src="src/img/gallery/4.jpg" alt="" class="img-responsive">

        </div>
    </div>
    <div class="item">
        <div class="thumbnail galleryLink">
            <img src="src/img/gallery/5.jpg" alt="" class="img-responsive">

        </div>
    </div>
    <div class="item">
        <div class="thumbnail galleryLink">
            <img src="src/img/gallery/6.jpg" alt="" class="img-responsive">

        </div>
    </div>
    <div class="item">
        <div class="thumbnail galleryLink">
            <img src="src/img/gallery/7.jpg" alt="" class="img-responsive">

        </div>
    </div>
    <div class="item">
        <div class="thumbnail galleryLink">
            <img src="src/img/gallery/8.jpg" alt="" class="img-responsive">

        </div>
    </div>
    <div class="item">
        <div class="thumbnail galleryLink">
            <img src="src/img/gallery/9.jpg" alt="" class="img-responsive">

        </div>
    </div>
    <div class="item">
        <div class="thumbnail galleryLink">
            <img src="src/img/gallery/10.jpg" alt="" class="img-responsive">
        </div>
    </div>

    <div class="item">
        <div class="thumbnail">
            <iframe src="https://www.youtube.com/embed/AFShDQEDpwA" class="img-responsive"></iframe>
        </div>
    </div>

    <div class="item">
        <div class="thumbnail galleryLink">
            <img src="src/img/gallery/11.jpg" alt="" class="img-responsive">

        </div>
    </div>
    <div class="item">
        <div class="thumbnail galleryLink">
            <img src="src/img/gallery/12.jpg" alt="" class="img-responsive">

        </div>
    </div>


    <div class="item">
        <div class="thumbnail">
            <video class="img-responsive" controls>
                <source src="../../src/img/gallery/17886612_408601146173419_7676048418510209024_n.mp4" type="video/mp4"> Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="item">
        <div class="thumbnail galleryLink">
            <img src="src/img/gallery/13.jpg" alt="" class="img-responsive">
        </div>
    </div>

</div>
<div class="row navbar navbarGallery navbar-fixed-bottom">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="galleryInput">
            <button type="button" class="btn btn-default btnGallery ">Добавити Фото/Відео</button>
            <figure class="commentImage ImageGallery"></figure>
        </div>
    </div>
</div>

<script src="src/js/salvattore.min.js"></script>
<script src="src/js//lightBoxGallery.js"></script>