<link rel="stylesheet" href="src/css/galleryAdditional.css">
<div ng-init="initialised=true;" class="animated fadeIn " class="galleryContainer" ng-controller="OpenModalCtrl as openModal">
    <div deckgrid class="deckgrid clearfix" source="subPage.gallery">
        <div class="a-card " >
            <a  data-ng-click="mother.openGallery(card.$index,'subPage')" >
            <img  alt="gallery item {{card.$index}}" data-ng-src="{{card.image_url}}" class="img-responsive galleryImg">
            </a>
        </div>
    </div>
</div>
<!--
    <div class="item">
        <div class="thumbnail">
            <iframe src="https://www.youtube.com/embed/AFShDQEDpwA" class="img-responsive"></iframe>
        </div>
    </div>

    <div class="item">
        <div class="thumbnail">
            <video class="img-responsive" controls>
                <source src="../../src/img/gallery/17886612_408601146173419_7676048418510209024_n.mp4" type="video/mp4"> Your browser does not support the video tag.
            </video>
        </div>
    </div>

   

</div>-->

<div class="row navbar navbarGallery navbar-fixed-bottom">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="galleryInput">
            <button type="button" class="btn btn-default btnGallery ">Добавити Фото/Відео</button>
            <figure class="commentImage ImageGallery"></figure>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/salvattore/1.0.9/salvattore.js"></script>