
    <header class="navbar navbar-inverse navbarTop navbar-fixed-top">
      <div class="container containerHeader">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                      <span class="sr-only">Open navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
          <a ng-href="#/" class="navbar-brand"><img class="logo" src="src/img/log.png" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse " id="responsive-menu">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a  class="user dropdown-toggle" data-toggle="dropdown">Доктор<b class="caret"></b>
                  <img class="userHeader" src="src/img/avatar.jpg" alt="user"></a>
              <ul class="dropdown-menu">
                <li><a ng-href="#/" href="#">Моя сторінка</a></li>
                <li class="divider"></li>
                <li><a ng-href="#/controller-autorize" href="autorize.html">Вийти</a></li>
              </ul>
              <div class="MobileUserSideBar">
                <ul class="nav navbar-nav mineNavbar">
                  <li><a  ng-href="#/" href="mainPage.html">Мій профіль</a></li>
                  <li><a  ng-href="#/controller-friends" href="#">Мої друзі</a></li>
                  <li><a  ng-href="#/" href="#">Повідомлення  <span class="badge"> 2</span></a></li>
                  <li> <a ng-href="#/controller-gallery" href="gallery.html">Галерея</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </header>
