<header class="navbar navbar-inverse navbarTop navbar-fixed-top">
  <div class="container containerHeader">
    <div class="navbar-header nabvarHeaderMine">
      <button type="button" class="navbar-toggle navbarToggleMasc" data-toggle="collapse" ng-click="collapsed = true" data-target="#responsive-menu">
                      <span class="sr-only">Open navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
      <a ui-sref="mainContainer.mainPage" ng-click="return(page.id, 'mainPage')" class="navbar-brand"><img class="logo" src="src/img/log.png" alt="logo"></a>

      <a onclick="history.back()">
        <figure class="arrowLeftMobile"></figure>
      </a>

      <a class="headerName" ng-bind="title" ui-sref="mainPage">{{page.chat[chatId].chatName}}</a>


    </div>
    <div class="collapse navbar-collapse navbar-app-collapse" id="responsive-menu" nav-collapse="">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="user dropdown-toggle" href="" data-toggle="dropdown">{{page.first_name}}<b class="caret"></b>
                  <img class="userHeader" ng-src="{{page.avatar_url}}" ng-if="page.avatar_url" alt="user"></a>

          <ul class="dropdown-menu userMenu">
            <li><a ui-sref="mainContainer.mainPage" ng-click="return(page.id, 'mainPage')">Моя сторінка</a></li>
            <li class="divider"></li>
            <li><a ui-sref="autorize" ng-click="logOut()">Вийти</a></li>
          </ul>

          <div class="MobileUserSideBar">
            <ul class="nav navbar-nav mineNavbar">
              <li><a ui-sref="mainContainer.mainPage" >Мій профіль</a></li>
              <li><a ui-sref="mainContainer.friends" ng-click="return(page.id, 'friends')">Мої друзі</a></li>
              <li><a ui-sref="mainContainer.chat" ng-click="return(page.id, 'chat')">Повідомлення  <span class="badge"> 2</span></a></li>

              <li> <a ui-sref="mainContainer.gallery" ng-click="return(page.id, 'gallery')">Галерея</a></li>
              <li> <a ui-sref="autorize" ng-click="logOut()">Вийти</a></li>

            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>