<!--Background-->
<section class="Background row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <figure class="backgroundImage">
      <!--editing background and page-->
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="updateBg pull-left">
            <span class="media-left">
                          <figure class="changeBgImage"></figure>
                          </span>
            <span class="media-body">
                            <p class="changeBgText">Оновити обкладинку</p>
                          </span>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
          <button class="editProfile btn btn-default  pull-right">Редагувати сторінку</button>
        </div>
      </div>
    </figure>
  </div>
</section>
<!--rest page-->
<section class="row" ng-controller="OpenModalCtrl as openModal">
  <!--Left part START-->
  <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0">
    <div ng-repeat="avatar in avatars">
      <a class="galleryLink" ng-click="openAvatar($index)">
        <img ng-src="{{avatar.url}}" ng-if="avatar.url" alt="avatar" class="profilePhoto img-rounded"  >    
      </a>
    </div>
    <!--<i class="userQuote" > Хороший хірург - ще не означає хороший черівник!</i>-->
    <section class="friendsGalleryBlock">
      <h3 class="myFriends">Мої друзі <span>480</span></h3>
      <figure class="friend friend1">
        <figcaption>Дженніфер Лоуренс</figcaption>
      </figure>
      <figure class="friend friend2">
        <figcaption>Дормамму Непереможний</figcaption>
      </figure>
      <figure class="friend friend3">
        <figcaption>Рейчел МакАдамс</figcaption>
      </figure>
      <figure class="friend friend4">
        <figcaption>Тільда Суїнтон</figcaption>
      </figure>
      <h3 class="myGallery"><a style="text-decoration:none; color:black;" ui-sref="mainContainer.gallery">Галерея</a></h3>
      <article class="gallery">
        <div class="row no-gutter">
          <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0" ng-repeat="gal in gallery | limitTo : 6 : 0">
            <a ng-click="openGallery($index)" class="galleryLink">
                <img class="galleryItem" ng-src="{{gal.url}}" ng-if="gal.url" alt="gallery item {{$index}}">
              </a>
          </div>
        </div>
      </article>
    </section>
  </div>
  <!--Left part END-->
  <!--Right part START-->
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <!--Main infromation about user-->
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="infoName">
          <h2 class="userName ">Доктор Стрендж</h2>
          <p><label>День народження:</label> <span>12 лютого 1982 р.</span> </p>
          <p><label>Рідне місто:</label> <span>Нью-Йорк</span></p>
          <p><label>Освіта:</label> <span>Нанотехнологічний інститут</span></p>
          <p><label>Моб. телефон:</label> <span>0665784212</span></p>
        </div>
      </div>
    </div>
    <div style="margin-left:0;" class="row">

      <article class="friendsAndPhoto">
        <div>
          <a style="text-decoration:none; color:black;" ui-sref="mainContainer.friends">
            <p class="myFriends">Друзі<span style="padding-left:10px;">480</span></p>
          </a>
          <a ui-sref="mainContainer.friends">
            <figure class="friendsAndPhotoIcon friendsIco"></figure>
          </a>
        </div>
        <!--user friends and photo count-->
        <div style="">
          <p><a style="text-decoration:none; color:black;" ui-sref="mainContainer.gallery">Галерея</a></p>
          <a ui-sref="mainContainer.gallery">
            <figure class="friendsAndPhotoIcon galleryIco"></figure>
          </a>
        </div>
      </article>
      <!---->
      <div class="row">
        <div style="margin-left:0px; " class="carouselWrapperColumn col-sm-12 col-xs-12 col-sm-offset-3 col-xs-offset-2">
          <ul  rn-carousel id="myCarousel" rn-carousel-transition="hexagon" rn-carousel-buffered class="carouselWrapper">
            <li ng-click="openGallery(gal.id-1)"  ng-repeat="gal in gallery track by gal.id" ng-class="'id-' + gal.id">
              <div ng-style="{'background-image': 'url(' + gal.url + ')'}" class="carouselItem">{{ gal.id}}/{{gallery.length}}</div>
            </li>
          </ul>
        </div>
      </div>
      <!--write letter-->
      <div class="row " style="margin-bottom: 30px !important; ">
        <form class="textareaMainPage" role="form " style=" margin:10px 50px;">
          <div class="form-group">
            <textarea placeholder="Що у вас нового?" class="form-control " rows="5 " id="comment "></textarea>
            <figure class="commentImage pull-left"></figure>
            <button type="button " class="btn btn-default   post pull-right ">Відправити</button>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="posters" style=" margin:10px 50px; ">
          <div>
            <figure class="otherUserPhoto"></figure>
            <h4 style="cursor:pointer;">Дженніфер Лоуренс</h4>
            <h5><span class='glyphicon glyphicon-time'></span>13.05.17 14:38</h5>
            <a class='label label-danger'>змінити</a>
            <a class='label label-primary' id='remove'>видалити</a>
          </div>
          <p style="font-size: 14px;">
            Я думаю тобі сподобається мій новий фільм ;-)
            <br><br>
            <a href="https://my-hit.org/film/415353" target="_blank"> https://my-hit.org/film/415353/</a>
          </p>
        </div>
      </div>
      <!---->
      <div class="row">
        <div class="posters" style=" margin:10px 50px; ">
          <div>
            <figure class="otherUserPhoto"></figure>
            <h4 style="cursor:pointer;">Дженніфер Лоуренс</h4>
            <h5><span class='glyphicon glyphicon-time'></span>10.05.17 15:11</h5>
            <a class='label label-danger'>змінити</a>
            <a class='label label-primary' id='remove'>видалити</a>
          </div>
          <p style="font-size: 14px;">Докторе, скидую обіцяне фото :-)
            <br><br>
            <a class="galleryLink"><img class="otherUserPhotoComment" src="src/img/users/user1/photo/photo.jpg" alt="..."></a>
          </p>
        </div>
      </div>
    </div>
    <!--Right part END-->
</section>