  <div id="wrappper">
        <!-- Modal gallery window-->
        <social-modal></social-modal>
        <div class="container-fluid">
            <div class="container custom-container">
                <div class="row">
                    <!--Header-->
                    <social-header></social-header>
                    <!--Navigation-->
                    <social-side-menu></social-side-menu>
                    <!--Main body-->
                    <social-router></social-router>
                </div>
            </div>
        </div>
    </div>