<!--Background-->
              <section class="Background row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <figure class="backgroundImage">
                    <!--editing background and page-->
                    <div class="row">
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <div class="updateBg pull-left">
                          <span class="media-left">
                          <figure class="changeBgImage"></figure>
                          </span>
                          <span class="media-body">
                            <p class="changeBgText">Оновити обкладинку</p>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <button class="editProfile btn btn-default  pull-right">Редагувати сторінку</button>
                      </div>
                    </div>
                  </figure>
                </div>
              </section>
              <!--rest page-->
              <section class="row">
                <!--Left part START-->
                <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0">
                  <a class="galleryLink"><img class="profilePhoto img-rounded" data-img="src/img/avatar.jpg" src="src/img/avatar.jpg" alt="profile photo"></a>

                  <!--<i class="userQuote" > Хороший хірург - ще не означає хороший черівник!</i>-->
                  <section class="friendsGalleryBlock">
                    <h3 class="myFriends">Мої друзі <span>480</span></h3>
                    <figure class="friend friend1">
                      <figcaption>Дженніфер Лоуренс</figcaption>
                    </figure>
                    <figure class="friend friend2">
                      <figcaption>Дормамму Непереможний</figcaption>
                    </figure>
                    <figure class="friend friend3">
                      <figcaption>Рейчел МакАдамс</figcaption>
                    </figure>
                    <figure class="friend friend4">
                      <figcaption>Тільда Суїнтон</figcaption>
                    </figure>
                    <h3 class="myGallery"><a style="text-decoration:none; color:black;" ng-href="#/controller-gallery">Галерея</a></h3>
                    <article class="gallery">
                      <div class="row no-gutter">
                        <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0">
                          <a class="galleryLink"><img class="galleryItem" data-img="src/img/gallery/1.jpg" src="src/img/gallery/1.jpg" alt="..."></a>
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-0 col-xs-0">
                          <a class="galleryLink"><img class=" galleryItem" data-img="src/img/gallery/2.jpg" src="src/img/gallery/2.jpg" alt="..."></a>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0">
                          <a class="galleryLink"><img class="galleryItem" data-img="src/img/gallery/3.jpg" src="src/img/gallery/3.jpg" alt="..."></a>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0">
                          <a class="galleryLink"><img class="galleryItem" data-img="src/img/gallery/4.jpg" src="src/img/gallery/4.jpg" alt="..."></a>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0">
                          <a class="galleryLink"><img class="galleryItem" data-img="src/img/gallery/5.jpg" src="src/img/gallery/5.jpg" alt="..."></a>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-0 col-xs-0">
                          <a class="galleryLink"><img class="galleryItem" data-img="src/img/gallery/6.jpg" src="src/img/gallery/6.jpg" alt="..."></a>
                        </div>

                      </div>
                    </article>
                  </section>
                </div>
                <!--Left part END-->
                <!--Right part START-->
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <!--Main infromation about user-->
                  <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                      <div class="infoName">
                        <h2 class="userName">Доктор Стрендж</h2>
                        <p><label>День народження:</label> <span>12 лютого 1982 р.</span> </p>
                        <p><label>Рідне місто:</label> <span>Нью-Йорк</span></p>
                        <p><label>Освіта:</label> <span>Нанотехнологічний інститут</span></p>
                        <p><label>Моб. телефон:</label> <span>0665784212</span></p>
                      </div>
                    </div>
                  </div>
                  <div style="margin-left:0;" class="row">
                    <div id="myCarousel" class="carousel slide" data-interval="0" data-ride="carousel" style="width: 96%; margin-left: 0px">

                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                      </ol>

                      <div class="carousel-inner">
                        <figure class="item carouselItem item1 active"></figure>
                        <figure class="item carouselItem item2"></figure>
                        <figure class="item carouselItem item3"> </figure>
                        <figure class="item carouselItem item4"> </figure>
                        <figure class="item carouselItem item5"> </figure>
                        <figure class="item carouselItem item6"> </figure>
                      </div>

                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                    <article class="friendsAndPhoto" >
                      <div style="margin-left:-20px;">
                          <a style="text-decoration:none; color:black;" ng-href="#/controller-friends"><p class="myFriends">Друзі<span style="padding-left:10px;">480</span></p></a>
                          <a ng-href="#/controller-friends"><figure class="friendsAndPhotoIcon friendsIco"></figure></a>
                      </div>
                      <!--user friends and photo count-->
                      <div style="margin-right:30px;" >
                        <p ><a style="text-decoration:none; color:black;" ng-href="#/controller-gallery">Галерея</a></p>
                       <a ng-href="#/controller-gallery"><figure class="friendsAndPhotoIcon galleryIco"></figure></a> 
                      </div>
                    </article>
                  </div>
                  <!--write letter-->
                  <div class="row " style="margin-bottom: 30px !important; ">
                    <form class="textareaMainPage" role="form " style=" margin:10px 50px;">
                      <div class="form-group">
                        <textarea placeholder="Що у вас нового?" class="form-control " rows="5 " id="comment "></textarea>
                        <figure class="commentImage pull-left"></figure>
                        <button type="button " class="btn btn-default   post pull-right ">Відправити</button>
                      </div>
                    </form>
                  </div>
                  <div class="row">
                    <div class="posters" style=" margin:10px 50px; " >
                      <div>
                        <figure class="otherUserPhoto"></figure>
                        <h4 style="cursor:pointer;">Дженніфер Лоуренс</h4>
                        <h5><span class='glyphicon glyphicon-time'></span>13.05.17 14:38</h5>
                        <a class='label label-danger' >змінити</a>
                        <a class='label label-primary' id='remove' >видалити</a>
                      </div>
                      <p  style="font-size: 14px;">
                           Я думаю тобі сподобається мій новий фільм ;-)
                        <br><br>
                        <a href="https://my-hit.org/film/415353" target="_blank"> https://my-hit.org/film/415353/</a>
                      </p>
                    </div>
                  </div>
                  <!---->
                  <div class="row">
                    <div class="posters" style=" margin:10px 50px; " >
                      <div>
                        <figure class="otherUserPhoto"></figure>
                        <h4 style="cursor:pointer;">Дженніфер Лоуренс</h4>
                        <h5><span class='glyphicon glyphicon-time'></span>10.05.17 15:11</h5>
                        <a class='label label-danger' >змінити</a>
                        <a class='label label-primary' id='remove' >видалити</a>
                      </div>
                      <p style="font-size: 14px;">Докторе, скидую обіцяне фото :-)
                        <br><br>
                        <a class="galleryLink"><img class="otherUserPhotoComment" src="src/img/users/user1/photo/photo.jpg" alt="..."></a>
                      </p>
                    </div>
                  </div>
                </div>
                <!--Right part END-->
              </section>
              
                   <script src="src/js//lightBoxGallery.js"></script>
                   