            <div  ng-controller="ModalCtrl as modal">
       
            <div class="modal-body" ng-swipe-right="Lightbox.prevImage()" ng-swipe-left="Lightbox.nextImage()">
                 
                <div class="row no-gutter ">
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <div class="LightBodyModal">
                                     <figure class="crossModal pull-right" aria-label="Close" ng-click="$dismiss()"></figure>
                            <a class="modalImgWrapper lightbox-image-container">
                                <img class="img-responsive center-block modalImg" 
                                    lightbox-src="{{Lightbox.imageUrl}}" alt="mainImage "{{Lightbox.index}} />
                                <span class="modalImgCount">{{Lightbox.index + 1 }}/{{Lightbox.images.length}} </span>
                            </a>
                            <a  ng-click="Lightbox.prevImage()" class="carousel-control left"><i class="glyphicon glyphicon-chevron-left"></i></a>
                            <a  ng-click="Lightbox.nextImage()" class="carousel-control right"><i class="glyphicon glyphicon-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 modalMasc" ng-class="{'special' : modalMasc }">
                        <div class="rightBodyModal" ng-class="{'special' : rightBodyModal}">
                            <article class="modalUser">
                                <img class="modalSenderPhoto" lightbox-src="{{Lightbox.image.senderUrl}}" alt="image "{{Lightbox.index}} />
                                <h4 class="modalUserName">{{Lightbox.image.senderName}}</h4>
                                <h5><span class='glyphicon glyphicon-time'></span>{{Lightbox.image.date}}</h5>
                            </article>
                            <article class="modalLike">
                                <div>
                                    <figure class="modalHeart"></figure>
                                    <p class="modalLikeText">Мені подобається<span ng-hide="Lightbox.image.likes==0">{{Lightbox.image.likes}}</span></p>
                                </div>
                            </article>


                            <article class="modalPost"  ng-repeat="post in Lightbox.image.posts">
                                <img class="modalSenderPhoto modalOtherUserPhotoPost"
                                    lightbox-src="{{post.postSenderUrl}}" alt="post user" />
                                <h5 class="modalPostUser">{{post.postSenderName}}</h5>
                                <figure class="modalCancel pull-right"></figure>
                                <a>
                                    <img class=" modalPhotoPost" 
                                    lightbox-src="{{post.postImage}}" ng-hide="post.postImage==''" alt="post image"></a>
                                    <p class="postText">{{post.postContent}}</p>
                                <p class="modalPostDate">{{post.postDate}}</p>
                                <figure class="modalHeart modalHeartComm pull-right" ><span ng-hide="post.postLikes==0">{{post.postLikes}}</span></figure>
                            </article>
                            

                            
                            <textarea class="modalTextArea" ng-class="{'special' : modalTextArea}"></textarea>
                            <img class="otherUserPhoto modalOtherUserPhotoComment pull-left"
                                    lightbox-src="{{Lightbox.image.senderUrl}}" alt="comment user" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row no-gutter ">
                    <div class="  col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <div class="TabletComment" style="margin-bottom:20px;" ng-class="{'special' : TabletComment }">
                            <figure class="commentImage" style="margin-top:5px;"></figure>
                            <textarea msd-elastic ng-model="foo" class="TabletTextArea"></textarea>
                            <img  src="../../src/img/send.png" alt="send"
                            class="sendIcon" style="margin-top:3px;">
                        </div>
                        <div class="leftFotterModal">
                            <figure class="modalHeart modalHeartFooter modalHeartFooters"><span>{{Lightbox.image.likes}}</span></figure>
                            <figure ng-click="
                           
                            toogleClass('rightBodyModal');
                            toogleClass('modalMakeComment');
                            toogleClass('modalSendBlock');
                            toogleClass('modalTextArea');
                            toogleClass('modalMasc');
                            toogleClass('TabletComment')"
                                
                             class="modalComment ModalCommentAction"></figure>
                            <figure class="modalRecycleBin"></figure>
                        </div>
                    </div>
                    <div class=" RightFotterModal col-lg-5 col-md-5 hidden-sm hidden-xs">
                        <div>
                            <p ng-click="
                           
                            toogleClass('rightBodyModal');
                            toogleClass('modalMakeComment');
                            toogleClass('modalSendBlock');
                            toogleClass('modalTextArea')" class="modalMakeComment ModalCommentAction" ng-class="{'special' : modalMakeComment }">Написати коментар...</p>
                            <div class="modalSendBlock" ng-class="{'special' : modalSendBlock }">
                                <!--<figure class="commentImage pull-left"></figure>-->
                                
                                <button type="button" ng-click="
                           
                            toogleClass('rightBodyModal');
                            toogleClass('modalMakeComment');
                            toogleClass('modalSendBlock');
                            toogleClass('modalTextArea')" class="btn  btn-default post pull-right" style="margin-left:20px; margin-right:30px;">Відправити</button>
                                <button type="button " ng-click="
                           
                            toogleClass('rightBodyModal');
                            toogleClass('modalMakeComment');
                            toogleClass('modalSendBlock');
                            toogleClass('modalTextArea')" class="btn  btn-default post pull-right">Відміна</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
</div>
