<div class="modal-body">
     <figure class="crossModal pull-right" aria-label="Close" ng-click="$ctrl.close()"></figure>
    <form name="form" class="avatarForm">
        <h4>Відредагуйте ваше зображення</h4>
        <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
            <img-crop 
            image="picFile  | ngfDataUrl" 
            result-image="croppedDataUrl" 
            ng-init="croppedDataUrl=''">
            </img-crop>
        </div>
       
        <div class="submitBtns">
                <button class="btn btn-default" 
                ngf-select 
                ng-model="picFile" 
                accept="image/*"
                name="file"
                type="file"
                ng-click="$ctrl.showCropView();">
                    Вибрати фото
                </button>
                <button class="btn btn-default submitImage" 
                    ng-click="$ctrl.upload(croppedDataUrl, picFile.name); $ctrl.close(); "
                    ng-disabled="!form.$valid">
                    Завантажити
                </button>
        </div>  
        <div class="cropView" >
            <img  ng-show="form.file.$valid" name="image"
            ng-src="{{croppedDataUrl}}" 
            />
        </div>
     
        <span class="progress" ng-show="$ctrl.progress >= 0">
                          <div style="width:{{progress}}%" ng-bind="$ctrl.progress + '%'"></div>
                        </span>
        <span ng-show="$ctrl.result">Upload Successful</span>
        <span class="err" ng-show="$ctrl.errorMsg">{{$ctrl.errorMsg}}</span>
    </form>

</div>

