 <nav class="col-lg-2 col-md-3 col-sm-3 col-xs-0" ng-controller="RouterCtrl as router">
            <div class="classWithPad">
              <div class="sidebar-nav userSideBar">
                <div class="navbar navbar-default userNavbar">
                  <div class="navbar-header">
                    <ul class="nav navbar-nav asideNavbar">
                      <li><a ng-href="#/"  href="#/mainPage.html">Мій профіль</a></li>
                      <li><a ng-href="#/controller-friends"  href="#">Мої друзі</a></li>
                      <li><a  ng-href="{{menuItem.link}}" href="#">Повідомлення  <span class="badge"> 2</span></a></li>
                      <li><a  ng-href="#/controller-gallery" href="#/gallery.html">Галерея</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>