 <nav class="col-lg-2 col-md-3 col-sm-3 col-xs-0" ng-controller="RouterCtrl as router">
            <div class="classWithPad">
              <div class="sidebar-nav userSideBar">
                <div class="navbar navbar-default userNavbar">
                  <div class="navbar-header">
                    <ul class="nav navbar-nav asideNavbar">
                      <li ui-sref-active="active"><a ui-sref="mainContainer.mainPage" >Мій профіль</a></li>
                      <li ui-sref-active="active"><a ui-sref="mainContainer.friends">Мої друзі</a></li>
                      <li ui-sref-active="active"><a ui-sref="mainContainer.chat" >Повідомлення  <span class="badge"> 2</span></a></li>
                      <li ui-sref-active="active"><a  ui-sref="mainContainer.gallery" >Галерея</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>