 <nav class="col-lg-2 col-md-3 col-sm-3 col-xs-0" ng-controller="RouterCtrl as router">
            <div class="classWithPad">
              <div class="sidebar-nav userSideBar">
                <div class="navbar navbar-default userNavbar">
                  <div class="navbar-header">
                    <ul class="nav navbar-nav asideNavbar">
                      <li><a ng-href="#/" >Мій профіль</a></li>
                      <li><a ng-href="#/controller-friends">Мої друзі</a></li>
                      <li><a  ng-href="#/controller-chat" >Повідомлення  <span class="badge"> 2</span></a></li>
                      <li><a  ng-href="#/controller-gallery" >Галерея</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>